@using ShieldPortal.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shield Portal | Login</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />

    <link href="~/Content/entypo.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/integral-core.css" rel="stylesheet" />
    <link href="~/Content/integral-forms.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../images/background-image.jpg');
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->


</head>
<body class="login-page">

    <!-- Loader Backdrop -->
    <div class="loader-backdrop">
        <!-- Loader -->
        <div class="loader">
            <div class="bounce-1"></div>
            <div class="bounce-2"></div>
        </div>
        <!-- /loader -->
    </div>
    <!-- loader backgrop -->

    <div class="login-container">
       
        <div class="login-content">
            <div class="login-branding" style="padding: 0 0;">
                <img src="~/images/shield_login_burned.png" alt="Shield Logo" title="SHIELD LOGO" />
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 style="text-align: center"><strong></strong></h2>
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-replace">
                        <input type="checkbox" id="remeber">
                        <label for="remeber">Remember me</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>
                <p class="text-center"><a href="forgot-password.html">Forgot your password?</a></p>
            }
        </div>
    </div>

    <!--Load JQuery-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/loader.js"></script>

</body>
</html>
