@model  DMP.ViewModel.ProfileViewModel

     

    <div class="login-container"> 
        <div class="login-content" style="width: 100%;">
            <div class="row">
                 
                <form id="mainform" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4 style="text-align: center">Create New Profile</h4>
    @foreach (var field in Model.FieldCollection)
    {
        <div class="form-group">
            <label class="col-sm-4 control-label" for="@field.Key.Replace(" ","")">@field.Key</label>
            <div class="col-sm-6">
                @if ((string)field.Value == "Organizations")
                {
                    <select id="OrganizationId" class="form-control" required>
                        <option value="" disabled selected>select organization</option>
                        @foreach (var item in Model.Organization)
                        {
                            <option value="@item.Id">@item.ShortName</option>
                        }
                    </select>
                }
                else if ((string)field.Key == "Password")
                {
                    <input type="password" placeholder="@field.Key" id="@field.Key.Replace(" ","")" required title="@field.Key is required" class="form-control">
                }
                else if ((string)field.Value == "String")
                {
                    <input type="text" placeholder="@field.Key" id="@field.Key.Replace(" ","")" required title="@field.Key is required" class="form-control">
                }                
                    </div>
                </div>
                }

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">
                        <a href='@Url.Action("index", "Home")' class="btn btn-default">
                            <i class="fa fa-close"></i> Cancel
                        </a>
                        &nbsp;&nbsp;
                        <button type="submit" id="dmpSubmit" class="btn btn-warning">Save</button>
                        <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                    </div>
                </div>

            </form>

                </div>
               
            </div>
    </div>
    <!--Load JQuery-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/loader.js"></script>

    <script>
        $(document).ready(function () {
            $('#PhoneNumberOfAuthor,#PhonenumberofApprover').keypress(function (key) {
                if (key.charCode < 48 || key.charCode > 57)
                    if (key.charCode != 43) {
                        $('#my_modal').on('show.bs.modal', function (e) {
                            $('#warningbox').val('invalid input');
                        });
                        $('#myModal').modal('show');
                        return false;
                    }
            });            

            $("input").attr("autocomplete", "off");

            $("#dmpSubmit").click(function (e, n) {

                var form = $(e.currentTarget.form);
                //var validator = form.validate();
                //if (form.valid()) {
                    var formdata = $('#mainform')[0].elements;
                    var viewModel = {};

                    $("#loadImg").show();
                    $('#dmpSubmit').disabled = true;

                    $.each(formdata, function (name, formElements) {
                        viewModel[formElements.id] = formElements.value;
                    });
                    viewModel["__RequestVerificationToken"] = $("input[name=__RequestVerificationToken]").val();

                    var someUrl = '@Url.Action("Register","Account")'; //'@Url.Action("CreateNewProfile", "Profile")';
                    $.ajax({
                        type: "POST",
                        url: someUrl,
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        data: viewModel,
                        cache: false,
                    }).done(function (dmpId) {
                        console.log(dmpId);
                        window.location.replace('@Url.Action("index", "Profile")');
                        $("#loadImg").hide();
                        $('#dmpSubmit').disabled = false;
                    }).error(function (xhr, status, err) {
                        alert(err);
                        console.log(err);
                        $("#loadImg").hide();
                        $('#dmpSubmit').disabled = false;
                    });

                    return false;
                //}
            });
        });
    </script> 