@{
    Layout = "~/Views/Shared/_genLayout.cshtml";
}
@section AddToHead{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CreateDMPCss")
    <script type="text/javascript">
        {
            var profileId = '@ShieldPortal.Services.Utils.LoggedinProfileID';
        }
    </script>
<style>
    .panel-default {
        border-color: #ff0018;
    }

        .panel-default > .panel-heading {
            color: #fff;
            background-color: #ff0018;
            border-color: #ff0018;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #ff0018;
        border-color: #ff0018;
        color: #FFFFFF;
        z-index: 5;
    }

    .pagination > li > a, .pagination > li > span, .pager > li > a, .pager > li > span {
        color: #ff0018;
    }

    .title {
        font-weight: 600;
        color: #000;
        padding-left: 10px;
    }
</style>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
} 

<div class="main-content" style="padding-top: 0px;">

    <div class="row" id="breadcrumb">
        <div class="col-sm-5 col-sm-push-3">
            <ol class="breadcrumb breadcrumb-2">
                <li><a href="/"><i class="icon-folder"></i>Home</a></li>
                <li><a href="/Home/submenu?id=admin">Admin</a></li>
                <li class="active">DQA FY2017 Q2</li>
            </ol>
        </div>
    </div>

    <div class="row">
        @*side bar*@
        <div class="col-md-4">
            <div class="page-sidebar" style="border-color:#ff0018"> 
                <div class="sidebar">
                    <ul id="side-nav" class="main-menu navbar-collapse collapse">
                        <li>
                            <a href=@Url.Action("index", "Organization") style="text-transform: capitalize;color: #ff0018;">
                                <i class="fa fa-bank"></i><span class="title">&nbsp;Implementing Partners</span>
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("index", "HealthFacility") style="text-transform: capitalize;color: #ff0018;">
                                <i class="fa fa-h-square"></i><span class="title">&nbsp;Health Facilities</span>
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("ManageYearlyPerformanceTarget", "BiWeeklyReport") style="text-transform: capitalize;color: #ff0018;">
                                <i class="fa fa-hourglass-end"></i><span class="title">Facility Perfomance Target</span>
                            </a>
                        </li>
                        @if (HttpContext.Current.User.IsInRole("sys_admin"))
                        {
                            <li>
                                <a href=@Url.Action("index", "Profile") style="text-transform: capitalize;color: #ff0018;">
                                    <i class="fa fa-users">
                                    </i><span class="title">&nbsp;Manage User Profiles</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <hr />
                </div>
            </div>
        </div>

        @RenderBody()
    </div> 

</div>


@section Scripts
{
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/plugins/metismenu/js/jquery.metisMenu.js"></script>
    <script src="~/Scripts/loader.js"></script>
    @Scripts.Render("~/bundles/CreateDMPJs")
    @Scripts.Render("~/bundles/dataTables")
     
    <script src="~/Scripts/profile-display.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(".dt-button.buttons-collection.buttons-colvis").css('display', 'none')
    </script>
 }