@{
    Layout = "~/Views/Shared/_genLayout.cshtml";
}

@section AddToHead{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CreateDMPCss")
    <style>
        .panel-warning {
            border-color: darkorange;
        }

            .panel-warning > .panel-heading {
                color: #FFF;
                background-color: darkorange;
                border-color: darkorange;
            }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background-color: darkorange;
            border-color: darkorange;
            color: #FFFFFF;
            z-index: 5;
        }

        .form-control {
            border-color: darkorange;
        }

        .title {
            font-weight: 300;
            color: #000;
            padding-left: 10px;
        }
        .main-header {
            padding: 10px;
            border-bottom: solid 2px darkorange;
        }
    </style>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

}
<div class="main-content" style="padding-top: 0px;">

    <div class="row" id="breadcrumb">
        <div class="col-sm-5 col-sm-push-3">
            <ol class="breadcrumb breadcrumb-2">
                <li><a href="/"><i class="icon-folder"></i>Home</a></li>
                <li><a href="/Home/submenu?id=dmp">Data Management</a></li>
                <li class="active">Data Management Plan</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

                <div class="page-sidebar">
                    <div class="sidebar">
                        <ul id="side-nav" class="main-menu navbar-collapse collapse">
                            @*"list-item mailbox-list">*@
                            <li>
                                <a href=@Url.Action("DMPDashboard", "DMP") style="color:darkorange">
                                    <i class="fa fa-area-chart"></i><span class="title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                @*completion rate*@
                                <a href=@Url.Action("ScoreCard", "DMP") style="color:darkorange">
                                    <i class="fa fa-file-powerpoint-o"></i><span class="title">Score Card</span>
                                </a>
                            </li>

                            <li class="has-sub">
                                @*folder*@
                                <a href='#' style="color:darkorange">
                                    <i class="icon-book-open"></i><span class="title">Plans</span>
                                </a>

                                <ul class="nav collapse">
                                    @*dmp listing*@
                                    <li>
                                        <a href=@Url.Action("index", "DMP") style="color:darkorange">
                                            <i class="icon-book-open"></i><span class="title">Individual Plans</span>
                                        </a>
                                    </li>
                                    @if (User.IsInRole("sys_admin") || User.IsInRole("shield_team"))
                                    {
                                        <li>
                                            @*dmp summary*@
                                            <a href=@Url.Action("DMPSummary", "DMP") style="color:darkorange">
                                                <i class="fa fa-file-word-o"></i> <span class="title">All DMP Summary</span>
                                            </a>
                                        </li>
                                        <li>
                                            @*cdc plan*@
                                            <a href=@Url.Action("index", "DMP") style="color:darkorange">
                                                <i class="icon-book-open"></i><span class="title">CDC </span>
                                            </a>
                                        </li>
                                    } 
                                    @if (ViewBag.ShowCreateLink != null && ViewBag.ShowCreateLink)
                                    {
                                        <li>
                                            <a href=@Url.Action("CreateDMP", "DMP") style="color:darkorange">
                                                <i class="fa fa-file-o"></i><span class="title">Create New DMP</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>

            
    </div>
    @RenderBody()
</div>
</div>

@section Scripts
{
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/plugins/metismenu/js/jquery.metisMenu.js"></script>
<script src="~/Scripts/loader.js"></script>
@Scripts.Render("~/bundles/CreateDMPJs")
<script src="~/Scripts/profile-display.js"></script>
    @RenderSection("scripts", required: false)
}
