<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-store, must-revalidate">
    <meta http-equiv="Vary" content="*">

    <title>Shield Portal</title>
    <link rel='shortcut icon' type='image/x-icon' href='~/images/umb-icon.jpg' />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CreateDMPCss")
    <script type="text/javascript">
        {
            var profileId = '@ShieldPortal.Services.Utils.LoggedinProfileID';
        }
    </script>
    <style>
        .title {
            font-weight: 600; 
            padding-left: 10px;
            font-family: monospace;
        }
        .main-header {
            padding: 10px;
            border-bottom: solid 2px darkorange;
        }
    </style>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    } 
</head>
<body>
    <div class="page-container">
        <div class="main-header row">
            <div class="col-sm-6">
                <a>
                    <img src="~/images/shield.png" alt="Shield Logo" width="160" title="SHIELD" />
                </a>
                <a>
                    <img src="~/images/pepfar.jpg" alt="pepfar logo" width="60" title="pepfar" />
                </a>
                <a>
                    <img src="~/images/HHS.png" alt="HHS logo" width="70" title="HHS" />
                </a>
                <a>
                    <img src="~/images/cdc_logo.png" alt="cdc logo" width="70" title="cdc" />
                </a>
                <a>
                    <img src="~/images/UMB_logo.png" alt="UMB logo" width="200" title="UMB" />
                </a>
            </div>

            <div class="col-sm-4">
                <div class="pull-right">
                    <ul class="user-info">
                        <li class="profile-info dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false" role="button" aria-haspopup="true">
                                <img width="44" class="img-circle avatar" alt="" src="~/images/Profile-image.png"> <span id="user">@ShieldPortal.Services.Utils.DisplayBadge </span> <span class="caret"></span>
                            </a>
                            <!-- User action menu -->
                            <ul class="dropdown-menu">
                                <li><a id="userdetail" style="cursor:pointer"><i class="icon-user"></i>My profile</a></li>
                                <li><a id="changepassword" style="cursor:pointer"><i class="fa fa-key"></i>Change password</a></li>
                                <li><a href='#' id="logoff"><i class="icon-logout"></i>Logout</a></li>
                            </ul>
                            <!-- /user action menu -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- User info -->
        </div>

        @RenderBody()

        <div class="row">
            <div class="col-md-push-3 col-md-5">
                <footer class="footer-main">
                    &copy; @DateTime.Now.Year  <span>University of Maryland with funding from the US CDC</span>
                </footer>
            </div>
        </div>

    </div>

   
    @RenderSection("scripts", required: false)
    
</body>
</html>
