<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="public">
    <title>Shield Portal</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='~/images/umb-icon.jpg' />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        .page-sidebar {
            background-color: transparent;
            border-bottom-color: #000;
            color: #000;
            width: 300px;
        }

        ul.main-menu > li:hover > a {
            color: #000;
            font-weight:bold;
            
        }
         .title:hover{
             font-weight:bold;
             text-shadow: 0px 0 15px #fff;
         }
        ul.main-menu li a {
            color: #000;
        }
        .page-container{
            background-color: transparent;
        }
        .main-container{
             background-color: transparent;
        }        
    </style>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
     
</head>
<body>
    <!-- Loader Backdrop -->
    <div class="loader-backdrop">
        <!-- Loader -->
        <div class="loader">
            <div class="bounce-1"></div>
            <div class="bounce-2"></div>
        </div>
        <!-- /loader -->
    </div>

    <div class="page-container">
        <div class="page-sidebar">
            <div class="sidebar">
                <!-- Site header  -->
                <header class="site-header">
                    <div class="site-logo">
                        <a><img src="~/images/shield_logo.png" alt="Shield Logo" width="250" title="SHIELD" /></a>
                    </div>
                    <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
                    <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
                </header>
                <!-- /site header -->
                <!-- Main navigation -->
                <ul id="side-nav" class="main-menu navbar-collapse collapse">

                    <li>
                        <a href=@Url.Action("index","Home")>
                            <i class="icon-gauge">
                            </i><span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href=@Url.Action("index","DMP")>
                            <i class="icon-book-open">
                            </i><span class="title">Data Management Plan</span>
                        </a>
                    </li>

                    <li class="has-sub">
                        <a href='@Url.Action("index", "DQA")'>  <i class="fa fa-check-square-o"></i><span class="title">Data Quality Assesment</span>
                        </a>
                        <ul class="nav collapse">
                            <li>
                                <a href=@Url.Action("index", "DQA")>
                                    <i class="fa fa-area-chart"></i><span class="title">DQA DashBoard</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("UploadDQA", "DQA")>
                                    <i class="fa fa-cloud-upload"></i><span class="title">Upload DQA</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("IpDQA", "DQA")>
                                    <i class="fa fa-newspaper-o"></i><span class="title">IP DQA Summary</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="#/"><i class="icon-clock"></i><span class="title">Bi-Monthly Scale up Reports</span></a>
                        <ul class="nav collapse">
                            <li>
                                <a href=@Url.Action("index", "BiWeeklyReport")>
                                    <i class="fa fa-area-chart"></i><span class="title">LGA Level DashBoard</span>
                                </a>
                            </li>
                            @if (HttpContext.Current.User.IsInRole("ip") == false)
                            {
                                <li>
                                    <a href=@Url.Action("BiWeeklyReportUploads", "BiWeeklyReport")>
                                        <i class="fa fa-newspaper-o"></i><span class="title">IP Upload Reports</span>
                                    </a>
                                </li>
                            }
                            
                        </ul>
                    </li>

                    <li>
                        <a href=@Url.Action("index","Home")>
                            <i class="fa fa-line-chart">
                            </i><span class="title">Evaluation Plan</span>
                        </a>
                    </li>

                   
                    @if (HttpContext.Current.User.IsInRole("sys_admin") || HttpContext.Current.User.IsInRole("shield_team"))
                    {
                        <li class="has-sub">
                            <a href="#/"><i class="icon-layout"></i><span class="title">Admin</span></a>
                            <ul class="nav collapse">
                                <li>
                                    <a href=@Url.Action("index", "Organization")><i class="fa fa-bank"></i><span class="title">Implementing partners</span></a>
                                </li>
                                <li>
                                    <a href=@Url.Action("index", "HealthFacility")>
                                        <i class="fa fa-h-square"></i><span class="title">Health Facilities</span>
                                    </a>
                                </li>
                                <li>
                                    <a href=@Url.Action("ManageYearlyPerformanceTarget", "BiWeeklyReport")>
                                        <i class="fa fa-hourglass-end"></i><span class="title">Manage Perfomance Target</span>
                                    </a>
                                </li>
                                @if (HttpContext.Current.User.IsInRole("sys_admin"))
                                {
                                    <li>
                                        <a href=@Url.Action("index", "Profile")>
                                            <i class="fa fa-users">
                                            </i><span class="title">Manage Profile</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                </ul>

                <!-- /main navigation -->
            </div>
        </div>
        <div class="main-container">
            <!-- Main header -->
            <div class="main-header row">
                <div class="col-sm-6 col-xs-7">

                    <!-- User info -->
                    <ul class="user-info pull-left">
                        <li class="profile-info dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false" role="button" aria-haspopup="true">
                                <img width="44" class="img-circle avatar" alt="" src="~/images/Profile-image.png"> <span id="user">@ShieldPortal.Services.Utils.DisplayBadge </span> <span class="caret"></span>
                            </a>
                            <!-- User action menu -->
                            <ul class="dropdown-menu">
                                <li><a id="userdetail" style="cursor:pointer"><i class="icon-user"></i>My profile</a></li>
                                <li><a id="changepassword" style="cursor:pointer"><i class="fa fa-key"></i>Change password</a></li>
                            </ul>
                            <!-- /user action menu -->
                        </li>
                    </ul>
                    <!-- /user info -->
                </div>

                <div class="col-sm-6 col-xs-5">
                    <div class="pull-right">
                        <a href='#' id="logoff"><i class="icon-logout"></i>Logout</a>
                    </div>
                </div>
                </div>
            <a href="javascript:history.back()" class="btn btn-default btn-sm btn-outline"><i class="icon-left-open"></i><b>Go Back</b></a>

            @RenderBody()
            <hr />

            <!-- Footer -->
            <footer class="footer-main">
                &copy; @DateTime.Now.Year  <a target="_blank" href="#/">University of Maryland</a>
            </footer>
            <!-- /footer -->
        </div>
    </div>

    <script src="~/Scripts/jquery.min.js" ></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/plugins/metismenu/js/jquery.metisMenu.js"></script>
    <script src="~/Scripts/loader.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $("#userdetail").click(function(e){
                window.document.location = '/Profile/ProfileDetail?profileId=@ShieldPortal.Services.Utils.LoggedinProfileID'; //profile.Id;
            });

            $('#changepassword').click(function(){
                window.document.location = '/Account/ResetPassword';
            });

            $("#logoff").click(function (e, n) {
                var someUrl = '@Url.Action("CreateNewProfile", "Profile")';
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LogOff", "Account")',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (dmpId) {
                    window.location.replace('@Url.Action("index", "Home")');
                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });
            });
    </script>
</body>
</html>
