@model List<ShieldPortal.ViewModel.IPLGAFacility>
@{

    Layout = "~/Views/Shared/_mpmlayout.cshtml";
}

@section AddToHead{
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%
        }
    </style>
    <script type="text/javascript">
        {
            var ipscount = '@Model.Select(x=>x.IP).Distinct().Count()';
            var model_data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None,
                       new Newtonsoft.Json.JsonSerializerSettings()
            {
                           ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore,
                           ContractResolver = new CommonUtil.Utilities.NHibernateContractResolver()
            }));

            function reloadPage(e) {
                window.location.replace('/MPM/CompletenessReports?lastreportedPeriod=' + e.value);
            }
        }
    </script>
}

<h2>Completeness Report (Upload)</h2>
<div class="col-sm-7">
    <div class="row">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                @*<li class=""><a aria-expanded="false" href="#tb_cascade" data-toggle="tab">TB HIV Cascade</a></li>*@

            </ul>

            <div class="tab-content">
                <img src="~/images/spinner.gif" id="a-spinner" style="padding: 5% 40%;" />
                <div class="tab-pane active" id="tb_cascade">
                    <div class="row">
                        <div id="COMP_stat" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div id="COMP_stat_fac" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div id="COMP_stat_fac_ims" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="col-sm-2">

    <form class="form-horizontal" style="margin-left: 50px;">
        <div class="form-group">
            <div class="col-sm-12">
                <h5 style="text-decoration:underline;">Filter</h5>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltReportPeriod" class="form-control" onchange="reloadPage(this)">
                    @foreach (var p in ViewBag.ReportedPeriods)
                    {
                        if (p == ViewBag.LastReportedPeriod)
                        {
                            <option value="@p" selected>@p</option>
                        }
                        else
                        {
                            <option value="@p">@p</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltIP" class="select2 form-control" data-placeholder="Select Partner" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">IP</option>
                    @if (Model.Select(x => x.IP).Distinct().Count() > 1)
                    {
                        foreach (var ip in Model.Select(x => x.IP).Distinct())
                        {
                            <option value="@ip">@ip</option>
                        }
                    }
                    else
                    {
                        <option value="@Model.Select(x => x.IP).FirstOrDefault()" selected>@Model.Select(x => x.IP).FirstOrDefault()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltstate" class="select2 form-control" data-placeholder="Select State" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">State</option>
                    @foreach (var st in Model.Select(x => x.LGA.State).Distinct())
                    {
                        <option value="@st.state_code">@st.state_name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltLGA" class="select2 form-control" data-placeholder="Select LGA" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">LGA</option>
                    @foreach (var lga in Model.Select(x => x.LGA).Distinct())
                    {
                        <option value="@lga.lga_code">@lga.DisplayName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltFacility" class="select2 form-control" data-placeholder="Select facility" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">Facility</option>
                    @foreach (var f in Model.Select(x => x.FacilityName).Distinct())
                    {
                        <option value="@f">@f</option>
                    }
                </select>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-sm-12">
                <select id="sltsex" class="form-control">
                    <option value="" selected>Sex</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltagegroup" class="form-control">
                    <option value="" selected>Age Group</option>
                    <option value="<1"> &lt;1</option>
                    <option value="1-4">1-4</option>
                    <option value="5-9">5-9</option>
                    <option value="10-14">10-14</option>
                    <option value="15-19">15-19</option>
                    <option value="20-24">20-24</option>
                    <option value="25-29">25-29</option>
                    <option value="30-34">30-34</option>
                    <option value="35-39">35-39</option>
                    <option value="40-44">40-44</option>
                    <option value="45-49">45-49</option>
                    <option value="50+">50+</option>
                </select>
            </div>
        </div>*@
        <div class="form-group" style="display:none">
            <div class="col-sm-12">
                <select id="sltpopulationgroup" class="form-control">
                    <option value="" selected>population group</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Adolescent">Adolescent</option>
                    <option value="Adult">Adult</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-info" id="btnSearch">Refresh</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/Scripts/Highcharts/code/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/no-data-to-display.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/data.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/drilldown.js"></script>
    <script src="~/Scripts/Highcharts/code/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/exporting.js"></script>
    @*<script src="~/Scripts/Highcharts/code/modules/export-data.js"></script>*@

    <script src="~/Scripts/highchart-utilities.js"></script>
    @*<script src="~/Scripts/highchart-utilities.js?v=@DateTime.Now.Ticks.ToString()"></script>*@

    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/randmonizer_utility.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnSearch').click(function (e) {
                $("#a-spinner").show();
                //supply the variables here
                var model = {};
                model.ReportPeriod = $("#sltReportPeriod option:selected").val();
                model.PopulationGroup = $("#sltpopulationgroup option:selected").val();
                model.Sex = $("#sltsex option:selected").val();
                model.Agegroup = $("#sltagegroup option:selected").val();

                let selectedIP = [];
                $("#sltIP option:selected").each(function () {
                    selectedIP.push($(this).val());
                });
                let selectedStates = [];
                $("#sltstate option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedStates.push(val);
                    }
                });
                let selectedLGA = [];
                $("#sltLGA option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedLGA.push(val);
                    }
                });
                let selectedFacilitties = [];
                $("#sltFacility option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedFacilitties.push(val);
                    }
                });
                model.IPs = selectedIP;
                model.state_codes = selectedStates;
                model.lga_codes = selectedLGA;
                model.facilities = selectedFacilitties;

                $.ajax({
                    url: "/MPM/RetriveCompletenessData",
                    method: "Post",
                    data: JSON.stringify(model),
                    contentType: "application/json",
                }).done(function (response) {
                    $("#a-spinner").hide();
                    try {
                        var dt = JSON.parse(response)._data;
                      
                        buildallchart(dt);
                    }
                    catch (e) {
                        alert("A system error has occurred. Kindly re-try again shortly");
                        console.log(e);
                    }
                }).error(function (xhr, status, err) {
                    alert("error occured");
                    $("#a-spinner").hide();
                });
            });


         

            var _model = {};
            _model.ReportPeriod = '@ViewBag.LastReportedPeriod';

            $.ajax({
                url: "/MPM/RetriveCompletenessData",
                method: "Post",
                data: JSON.stringify(_model),
                contentType: "application/json",
            }).done(function (response) {
                $("#a-spinner").hide();
                try {
                    var dt = JSON.parse(response)._data;
                    buildallchart(dt);
                   // console.log(response);
                }
                catch (e) {
                  //  alert("A system error has occurred. Kindly re-try again shortly == " + e);
                    console.log(e);
                }
            }).error(function (xhr, status, err) {
                alert("error occured");
                $("#a-spinner").hide();
            });



            function buildallchart(dt) {

            

                //TB_stat
                build_side_by_side_bar_chart_with_DrillDown('COMP_stat', 'Upload Completeness', 'Percentage Completeness',
                    dt.Comp_Stat.Comp_Stat, dt.Comp_Stat.lga_drill_down);


                build_side_by_side_bar_chart_with_DrillDown('COMP_stat_fac', 'Upload Completeness By Indicator (GSM)', 'Percentage Completeness',
                    dt.Comp_Stat_fac.Comp_Stat_fac, dt.Comp_Stat_fac.lga_drill_down);

                build_side_by_side_bar_chart_with_DrillDown('COMP_stat_fac_ims', 'Upload Completeness By Indicator (IMS)', 'Percentage Completeness',
                    dt.Comp_Stat_fac_ims.Comp_Stat_fac_ims, dt.Comp_Stat_fac_ims.lga_drill_down);
          //      console.log("Log == " + dt.Comp_Stat_fac_ims);
                
             //   console.log("Log message " + dt.Comp_Stat.Comp_Stat);

                //build_side_by_side_bar_chart_with_DrillDown('TB_stat', 'TB HIV', 'No of Client',
                //    dt.Tb_Stat.tb_stat, dt.Tb_Stat.lga_drill_down);

                //TB_treatment
                //build_bar_chart_dual_axis_with_drill_down('TB_treatment', 'Percentage of patients started on TB Treatment',
                //    'No. of client', '% TX_TB', dt.TB_treatment.state_data,
                //    dt.TB_treatment.lga_drill_down, dt.TB_treatment.states);

                //TB_tpt
                //build_bar_chart_dual_axis_with_drill_down('TB_tpt', 'Percentage of eligible PLHIV started on TPT',
                //    'No. of client', '% TPT', dt.tb_tpt.state_data, dt.tb_tpt.lga_drill_down, dt.tb_tpt.states);

                 //build_bar_chart_dual_axis('TB_tpt', 'Percentage of eligible PLHIV started on TPT',
                    //    'No. of client', '% TPT', dt.tb_tpt.State,
                    //    dt.tb_tpt.eligible, 'Eligible for TPT', dt.tb_tpt.started,
                    //    'Started on TPT', dt.tb_tpt.Percent, '% TPT', false);
            }


            $('#resizer').resizable({
                resize: function () {
                    var $this = this;
                    $.each([htc_chart, pmtct_stat_chart, pmtct_art_chart, pmtct_eid_chart, tx_new_chart, tx_curr_chart, pmtct_hei_pos_chart], function (i, a_chart) {
                        a_chart.setSize(
                            $this.offsetWidth - 20,
                            $this.offsetHeight - 20,
                            false
                        );
                    });
                }
            });

            $('#resizer_intv').resizable({
                resize: function () {
                    var $this = this;
                    $.each([htc_chart_intv, pmtct_stat_chart_intv, pmtct_art_chart_intv, pmtct_eid_chart_intv, tx_new_chart_intv, tx_curr_chart_intv, pmtct_hei_pos_chart_intv], function (i, a_chart) {
                        a_chart.setSize(
                            $this.offsetWidth - 20,
                            $this.offsetHeight - 20,
                            false
                        );
                    });
                }
            });

            $(".ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se")
                .css("background-color", "red");


            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }
        });
    </script>
}