@model List<ShieldPortal.ViewModel.IPLGAFacility>
@{

    Layout = "~/Views/Shared/_mpmlayout.cshtml";
}

@section AddToHead{
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%
        }
    </style>
    <script type="text/javascript">
        {
            var ipscount = '@Model.Select(x=>x.IP).Distinct().Count()';
            var model_data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None,
                       new Newtonsoft.Json.JsonSerializerSettings()
            {
                           ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore,
                           ContractResolver = new CommonUtil.Utilities.NHibernateContractResolver()
            }));

            function reloadPage(e) {
                window.location.replace('/MPM/CompletenessReports?lastreportedPeriod=' + e.value);
            }
        }
    </script>
}

<h2>IMS Completeness Report</h2>
<div class="col-sm-7">
    <div class="row">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="false" href="#hts_cascade" data-toggle="tab">HTS</a></li>
                <li class=""><a aria-expanded="false" href="#pmtct" data-toggle="tab">PMTCT</a></li>
                <li class=""><a aria-expanded="false" href="#art" data-toggle="tab">ART</a></li>

                 <li class=""><a aria-expanded="false" href="#hiv-tb" data-toggle="tab">HIV-TB Cascade</a></li>
            </ul>

            <div class="tab-content" id="tabId">
                <img src="~/images/ms-spinner.gif" id="a-spinner" style="padding: 5% 40%;" />
                <div class="tab-pane active" id="hts_cascade">

                    <div class="row">
                        <div id="Comp_Stat_HTS_Other_PITC" style="min-width: 310px; height: 700px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div id="COMP_stat" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>


                    <hr />
                    <div class="row">
                        <div id="COMP_stat_HTS_TST" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="pmtct">

                    <div class="row">
                        <div id="Comp_Stat_PMTCT" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_Stat_PMTCT_EID" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_Stat_PMTCT_Viral_Load" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="art">

                    <div class="row">
                        <div id="Comp_Stat_ART" style="min-width: 310px; height: 550px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="hiv-tb">

                    <div class="row">
                        <div id="Comp_TB_screened" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Presumptive" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Bacteriology" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Diagnosis" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Relapsed_Status" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Relapsed_POS" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div id="Comp_TB_Relapsed" style="min-width: 310px; height: 410px; max-width: 100%; margin: 0 auto">
                        </div>
                    </div>

                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-2 sticky-header">

    <form class="form-horizontal" style="margin-left: 50px;">
        <div class="form-group">
            <div class="col-sm-12">
                <h5 style="text-decoration:none; padding-bottom: 1px;">Filter Results</h5>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltReportPeriod" class="form-control" style="width: 100%" onchange="reloadPage(this)">
                    @foreach (var p in ViewBag.ReportedPeriods)
                    {
                        if (p == ViewBag.LastReportedPeriod)
                        {
                            <option value="@p" selected>@p</option>
                        }
                        else
                        {
                            <option value="@p">@p</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltIP" class="select2 form-control" data-placeholder="Select Partner" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">IP</option>
                    @if (Model.Select(x => x.IP).Distinct().Count() > 1)
                    {
                        foreach (var ip in Model.Select(x => x.IP).Distinct())
                        {
                            <option value="@ip">@ip</option>
                        }
                    }
                    else
                    {
                        <option value="@Model.Select(x => x.IP).FirstOrDefault()" selected>@Model.Select(x => x.IP).FirstOrDefault()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltstate" class="select2 form-control" data-placeholder="Select State" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">State</option>
                    @foreach (var st in Model.Select(x => x.LGA.State).Distinct())
                    {
                        <option value="@st.state_code">@st.state_name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltLGA" class="select2 form-control" data-placeholder="Select LGA" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">LGA</option>
                    @foreach (var lga in Model.Select(x => x.LGA).Distinct())
                    {
                        <option value="@lga.lga_code">@lga.DisplayName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <select id="sltFacility" class="select2 form-control" data-placeholder="Select facility" tabindex="-1" aria-hidden="true" multiple>
                    <option value="">Facility</option>
                    @foreach (var f in Model.Select(x => x.FacilityName).Distinct())
                    {
                        <option value="@f">@f</option>
                    }
                </select>
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-sm-12">
                    <select id="sltsex" class="form-control">
                        <option value="" selected>Sex</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <select id="sltagegroup" class="form-control">
                        <option value="" selected>Age Group</option>
                        <option value="<1"> &lt;1</option>
                        <option value="1-4">1-4</option>
                        <option value="5-9">5-9</option>
                        <option value="10-14">10-14</option>
                        <option value="15-19">15-19</option>
                        <option value="20-24">20-24</option>
                        <option value="25-29">25-29</option>
                        <option value="30-34">30-34</option>
                        <option value="35-39">35-39</option>
                        <option value="40-44">40-44</option>
                        <option value="45-49">45-49</option>
                        <option value="50+">50+</option>
                    </select>
                </div>
            </div>*@
        <div class="form-group" style="display:none">
            <div class="col-sm-12">
                <select id="sltpopulationgroup" class="form-control">
                    <option value="" selected>population group</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Adolescent">Adolescent</option>
                    <option value="Adult">Adult</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-info" id="btnSearch">Refresh</a>
            </div>
        </div>
    </form>
</div>
<div id="closeDiv" style="display: none;">
    <button type="button" class="close ndr-data-table-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@section Scripts
{
    <script src="~/Scripts/Highcharts/code/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/no-data-to-display.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/data.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/drilldown.js"></script>
    <script src="~/Scripts/Highcharts/code/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/exporting.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/export-data.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/offline-exporting.js"></script>



    @*<script src="~/Scripts/Highcharts/code/modules/export-data.js"></script>*@

    <script src="~/Scripts/highchart-utilities.js"></script>
    <script src="~/Scripts/Ultilities.js"></script>
    @*<script src="~/Scripts/highchart-utilities.js?v=@DateTime.Now.Ticks.ToString()"></script>*@

    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/randmonizer_utility.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnSearch').click(function (e) {
                $("#a-spinner").show();
                //supply the variables here
                var model = {};
                model.ReportPeriod = $("#sltReportPeriod option:selected").val();
                model.PopulationGroup = $("#sltpopulationgroup option:selected").val();
                model.Sex = $("#sltsex option:selected").val();
                model.Agegroup = $("#sltagegroup option:selected").val();

                let selectedIP = [];
                $("#sltIP option:selected").each(function () {
                    selectedIP.push($(this).val());
                });
                let selectedStates = [];
                $("#sltstate option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedStates.push(val);
                    }
                });
                let selectedLGA = [];
                $("#sltLGA option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedLGA.push(val);
                    }
                });
                let selectedFacilitties = [];
                $("#sltFacility option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedFacilitties.push(val);
                    }
                });
                model.IPs = selectedIP;
                model.state_codes = selectedStates;
                model.lga_codes = selectedLGA;
                model.facilities = selectedFacilitties;

                $.ajax({
                    url: "/MPM/RetriveIMSCompletenessData",
                    method: "Post",
                    data: JSON.stringify(model),
                    contentType: "application/json",
                }).done(function (response) {
                    $("#a-spinner").hide();
                    try {
                        var dt = JSON.parse(response)._data;
                       // console.log(dt);
                        buildallchart(dt);
                    }
                    catch (e) {
                    //    alert("A system error has occurred. Kindly re-try again shortly");
                        console.log(e);
                    }
                }).error(function (xhr, status, err) {
                    alert("error occured");
                    $("#a-spinner").hide();
                });
            });




            var _model = {};
            _model.ReportPeriod = '@ViewBag.LastReportedPeriod';
            var selectedIP = ''; 
            $.ajax({
                url: "/MPM/RetriveIMSCompletenessData",
                method: "Post",
                data: JSON.stringify(_model),
                contentType: "application/json",
            }).done(function (response) {
                $("#a-spinner").hide();
                try {
                    var dt = JSON.parse(response)._data;
                    buildallchart(dt, selectedIP);
                   // console.log(response);
                }
                catch (e) {
                  //  alert("A system error has occurred. Kindly re-try again shortly == " + e);
                    console.log(e);
                }
            }).error(function (xhr, status, err) {
                alert("error occured");
                $("#a-spinner").hide();
            });



            function buildallchart(dt, selectedIP) {

                 //HTS_Index
                build_stacked_bar_with_drilldown_completeness('COMP_stat', 'HTS Index Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat.Comp_Stat, dt.Comp_Stat.lga_drill_down_stack, selectedIP);
             




                //HTS_Index
                //build_side_by_side_bar_chart_with_DrillDown('COMP_stat', 'HTS_Index Completeness Report', 'Percentage Completeness',
                //    dt.Comp_Stat.Comp_Stat, dt.Comp_Stat.lga_drill_down);

                //HTS_TST
                build_stacked_bar_with_drilldown_completeness('COMP_stat_HTS_TST', 'HTS_TST Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat_HTS_TST.Comp_Stat_HTS_TST, dt.Comp_Stat_HTS_TST.lga_drill_down, selectedIP);
              
                //HTS_Other_PITC
                build_stacked_bar_with_drilldown_horizontal('Comp_Stat_HTS_Other_PITC', 'HTS Other PITC Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat_HTS_Other_PITC.Comp_Stat_HTS_Other_PITC, dt.Comp_Stat_HTS_Other_PITC.lga_drill_down, selectedIP);

                console.log(dt.Comp_Stat_HTS_Other_PITC.lga_drill_down, selectedIP);
             
                //ART
                build_stacked_bar_with_drilldown_completeness('Comp_Stat_ART', 'ART Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat_ART.Comp_Stat_ART, dt.Comp_Stat_ART.lga_drill_down, selectedIP);

                //PMTCT
                build_stacked_bar_with_drilldown_completeness('Comp_Stat_PMTCT', 'PMTCT Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat_PMTCT.Comp_Stat_PMTCT, dt.Comp_Stat_PMTCT.lga_drill_down, selectedIP);


                //PMTCT_EID
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_Stat_PMTCT_EID', 'PMTCT_EID Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_Stat_PMTCT_EID.Comp_Stat_PMTCT_EID, dt.Comp_Stat_PMTCT_EID.lga_drill_down, selectedIP);

                //PMTCT_Viral_Load
                build_stacked_bar_with_drilldown_completeness('Comp_Stat_PMTCT_Viral_Load', 'PMTCT Viral Load Completeness Report', 'Percentage Completeness (%)',
                    'Percentage Completeness (%)', '', dt.Comp_Stat_PMTCT_Viral_Load.Comp_Stat_PMTCT_Viral_Load, dt.Comp_Stat_PMTCT_Viral_Load.lga_drill_down, selectedIP);

                //TB_Screened
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_screened', 'TB Screened Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_screened.Comp_TB_screened, dt.Comp_TB_screened.lga_drill_down, selectedIP);

                //TB_Presumptive
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Presumptive', 'TB Presumptive Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Presumptive.Comp_TB_Presumptive, dt.Comp_TB_Presumptive.lga_drill_down, selectedIP);

                //TB_Bacteriology
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Bacteriology', 'TB Bacteriology Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Bacteriology.Comp_TB_Bacteriology, dt.Comp_TB_Bacteriology.lga_drill_down, selectedIP);

                //TB_Diagnosis
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Diagnosis', 'TB Diagnosis Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Diagnosis.Comp_TB_Diagnosis, dt.Comp_TB_Diagnosis.lga_drill_down, selectedIP);


                //TB_Relapsed_Status
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Relapsed_Status', 'TB Relapsed Status Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Relapsed_Status.Comp_TB_Relapsed_Status, dt.Comp_TB_Relapsed_Status.lga_drill_down, selectedIP);

                //TB_Relapsed_POS
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Relapsed_POS', 'TB Relapsed Known POS Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Relapsed_POS.Comp_TB_Relapsed_POS, dt.Comp_TB_Relapsed_POS.lga_drill_down, selectedIP);

                
                //TB_Relapsed
                build_side_by_side_bar_chart_with_DrillDown_Completeness('Comp_TB_Relapsed', 'TB Relapsed Completeness Report', 'Percentage Completeness (%)',
                    dt.Comp_TB_Relapsed.Comp_TB_Relapsed, dt.Comp_TB_Relapsed.lga_drill_down, selectedIP);

            }


            $('#resizer').resizable({
                resize: function () {
                    var $this = this;
                    $.each([htc_chart, pmtct_stat_chart, pmtct_art_chart, pmtct_eid_chart, tx_new_chart, tx_curr_chart, pmtct_hei_pos_chart], function (i, a_chart) {
                        a_chart.setSize(
                            $this.offsetWidth - 20,
                            $this.offsetHeight - 20,
                            false
                        );
                    });
                }
            });

            $('#resizer_intv').resizable({
                resize: function () {
                    var $this = this;
                    $.each([htc_chart_intv, pmtct_stat_chart_intv, pmtct_art_chart_intv, pmtct_eid_chart_intv, tx_new_chart_intv, tx_curr_chart_intv, pmtct_hei_pos_chart_intv], function (i, a_chart) {
                        a_chart.setSize(
                            $this.offsetWidth - 20,
                            $this.offsetHeight - 20,
                            false
                        );
                    });
                }
            });

            $(".ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se")
                .css("background-color", "red");
            closeDataTableButton('tabId');
            activateSticky();
            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }
        });
    </script>
}