@model  IList<CommonUtil.Entities.NDR_Statistics>

@{

    Layout = "~/Views/Shared/_mpmlayout.cshtml";
}
@section AddToHead{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Ultilities.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <style>

        .btn-sm, .btn-group-sm > .btn {
            padding: 0px;
        }

        .btn-danger {
            background-color: red;
            border-color: red;
            cursor: default;
        }
    </style>

    <script type="text/javascript">

    </script>
}
<div class="col-sm-9">
    <div style="text-transform:capitalize;margin:15px 0px -10px 20px">
        <h4 style="margin-left:500px;font-weight:bold"> NDR Statictics</h4>
        @*<a class="btn btn-success" id="download_to_excel" style="font-size: 12px;">Download to Excel</a>*@
    </div>
    <div class="table-responsive" style="overflow-x: initial;">
        <table style="width:100%" class="table table-striped table-bordered">
            <thead>
                <tr style="color: #FFF;background-color: darkturquoise;border-color: darkturquoise;">
                    <th>IP</th>
                    <th>State</th>
                    <th>LGA</th>
                    <th>Facility</th>
                    <th>GSM</th>
                    <th>TX_CURR</th>
                    <th>TX_New</th>
                    @*<th>TX_New (@ViewBag.reportPeriod)</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Facility.Organization.ShortName</td>
                    <td>@item.Facility.LGA.State.state_name</td>
                    <td>@item.Facility.LGA.lga_name</td>
                    <td>@item.Facility.Name</td>
                    <td>@(item.Facility.GranularSite ? "Yes" : "No")</td>
                    <td>@item.NDR_TX_CURR</td>
                    @if (item.ReportPeriod == string.Empty)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@item.NDR_TX_NEW (@item.ReportPeriod)</td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            $('.table').DataTable({
                "sPaginationType": "full_numbers",
                "autoWidth": true,
                "bInfo": false,
                dom: '<"html5buttons" B>lTfgitp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ]
            });

        });
    </script>
}