@model List<RADET.DAL.Models.RadetReportModel2>

@{
    Layout = "~/Views/Shared/_radetLayoutPage.cshtml";
}

@section AddToHead{
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/Ultilities.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script type="text/javascript">
        {
            var ipscount = '@Model.Select(x=>x.IP).Distinct().Count()';
            var model_data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((ViewBag.selectModel as ShieldPortal.ViewModel.RandomizerDropDownModel).IPLocation, Newtonsoft.Json.Formatting.None,
                       new Newtonsoft.Json.JsonSerializerSettings()
            {
                           ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore,
                           ContractResolver = new CommonUtil.Utilities.NHibernateContractResolver()
            }));

        }
    </script>

    <style>
        .form-control {
            color: #29b6f6;
        }

        form {
            color: #29b6f6;
        }

        .error-summary {
            text-decoration: underline;
            font-size: 16px;
            color: red;
            cursor: pointer;
        }

        .table > thead > tr > th {
            text-transform: capitalize;
            font-weight: bolder;
        }

        .btn-sm, .btn-group-sm > .btn {
            padding: 4px 6px;
            font-size: 10px;
        }

        .dataTables_wrapper .dataTables_processing {
            position: absolute;
            top: 5%;
            left: 50%;
            width: 100%;
            height: 60px;
            margin-left: -50%;
            margin-top: -25px;
            padding-top: 20px;
            text-align: center;
            font-size: 25px;
            background: linear-gradient(to right, #f9f9f9 0%, #ccc 25%, #ccc 75%, #f9f9f9 100%);
        }
    </style>
}
<div class="panel panel-info" style="font-size:12px;">
    <div class="panel-heading clearfix" style="padding:8px 20%">
        <h5 class="panel-title">Previous uploads</h5>
    </div>
    <div class="panel-body">

        <div class="row">

            <form class="form-horizontal" style="margin-left: 50px;">
                <div class="form-group">
                    <div class="col-sm-push-1 col-sm-3">
                        <h5 style="text-decoration:underline;">Search Criteria</h5>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="sltIP">IP</label>
                    <div class="col-sm-4">
                        <select id="sltIP" class="select2 form-control" data-placeholder="Select Partner" tabindex="-1" aria-hidden="true" multiple>
                            @if (Model.Select(x => x.IP).Distinct().Count() > 1)
                            {
                                foreach (var ip in Model.Select(x => x.IP).Distinct())
                                {
                                    <option value="@ip">@ip</option>
                                }
                            }
                            else
                            {
                                <option value="@Model.Select(x => x.IP).FirstOrDefault()" selected>@Model.Select(x => x.IP).FirstOrDefault()</option>
                            }
                        </select>
                    </div>

                    <label class="col-sm-1 control-label" for="sltFacility">Facility</label>
                    <div class="col-sm-4">
                        <select id="sltFacility" class="select2 form-control" data-placeholder="Select facility" tabindex="-1" aria-hidden="true" multiple>
                            @foreach (var f in Model.Select(x => x.Facility).Distinct())
                            {
                                <option value="@f">@f</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="sltstate">State</label>
                    <div class="col-sm-4">
                        <select id="sltstate" class="select2 form-control" data-placeholder="Select State" tabindex="-1" aria-hidden="true" multiple>
                            @foreach (var st in Model.Select(x => x.LGA.State).Distinct())
                            {
                                <option value="@st.state_code">@st.state_name</option>
                            }
                        </select>
                    </div>

                    <label class="col-sm-1 control-label" for="sltLGA">LGA</label>
                    <div class="col-sm-4">
                        <select id="sltLGA" class="select2 form-control" data-placeholder="Select LGA" tabindex="-1" aria-hidden="true" multiple>
                            @foreach (var lga in Model.Select(x => x.LGA).Distinct())
                            {
                                <option value="@lga.lga_code">@lga.DisplayName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="sltReportPeriod">Report Period</label>
                    <div class="col-sm-4">
                        <select id="sltReportPeriod" class="form-control">
                            @foreach (var p in Model.Select(x => x.RadetPeriod).Distinct().OrderByDescending(o => o))
                            {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-push-1 col-sm-2">
                        <a class="btn btn-sm btn-info" id="btnSearch">Search</a>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="table-responsive" style="overflow-x:initial;font-size: 11px;">
            <table class="table table-bordered table-hover" style="width:100%" id="main-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="chckHead" /></th>
                        <th>IP</th>
                        <th style="width: 250px;">Facility</th>
                        <th>Period</th>
                        <th>Date Uploaded</th>
                        <th>Uploaded By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="patientListModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 97%;border-color: darkorange;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: #FFF;background-color: lightgreen;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive" style="font-size: 11px;padding-left: 5px;padding-right: 5px;">
                <div class="col-sm-3" style="font-size: 14px;">
                    <table>
                        <tr>
                            <td><label>New on Treatment:</label></td>
                            <td><span style="font-weight: bolder; color: red; padding-left: 5px; " id="new-on-tx"></span></td>
                        </tr>
                        <tr>
                            <td><label>Current on Treatment:</label></td>
                            <td><span style="font-weight: bolder; color: red; padding-left: 5px; " id="current-on-tx"></span></td>
                        </tr>
                        <tr>
                            <td><label>Total Selected for DQA:</label></td>
                            <td><span style="font-weight: bolder; color: red;padding-left: 5px;  " id="selected-for-dqa"></span></td>
                        </tr>
                        <tr>
                            <td><label style="float:right;">Total Patients:</label></td>
                            <td><span style="font-weight: bolder; color: red;padding-left: 5px; " id="total-record"></span></td>
                        </tr>
                    </table>

                </div>
                <div class="col-sm-push-7 col-sm-1">
                    <a class="btn btn-success" id="download_for_dqa" style="text-transform:capitalize;font-size: 12px;">Download Selected Entries</a>
                </div>
                <table class="table table-bordered table-hover" id="output" style="width:100%">
                    <thead>
                        <tr>
                            <th>Selected for DQA</th>
                            <th>Patient Id</th>
                            <th>Hospital No</th>
                            <th>Sex</th>
                            <th>Age at Start of ART (in Years)</th>
                            <th>Age at Start of ART (in months)</th>
                            <th>ART Start Date</th>
                            <th>Last Pickup Date</th>
                            <th>Months Of ARV Refill</th>
                            <th>Regimen Line At ART Start</th>
                            <th>Regimen At Start of ART</th>
                            <th>Current Regimen Line</th>
                            <th>Current ART Regimen</th>
                            <th>Pregnancy Status</th>
                            <th>Current Viral Load</th>
                            <th>Date of Current Viral Load</th>
                            <th>Viral Load Indication</th>
                            <th>Current ART Status</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-success" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Scripts/randmonizer_utility.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        $(document).ready(function () {

            var dataTable = {
                table: null,
                initialiazeDataTable: function () {
                    var $tabela = $("#main-table");

                    var model = {};
                    let selectedIP = [];
                    $("#sltIP option:selected").each(function () {
                        selectedIP.push($("#sltIP")[0].selectedOptions[0].value);
                    });
                    model.IPs = selectedIP;

                    dataTable.table = $tabela.DataTable({
                        processing: true,
                        serverSide: true,
                        sEcho: 3,
                        "oLanguage": {"sProcessing": "Loading... Please wait"},
                        "aLengthMenu": [[50, 100, 200], [50, 100, 200]],
                        ajax:
                            {
                                url: "/RadetAnalytics/SearchRadet",
                                type: "POST",
                            },
                        "oSearch": {"sSearch": JSON.stringify(model)},
                        "aoColumnDefs": [{
                            "bSortable": false,
                            "aTargets": [ 0 ]
                        }],
                        "aoColumns": [
                            { "mData": "FirstColumn" },
                            { "mData": "IP" },
                             { "mData": "Facility" },
                             { "mData": "RadetPeriod" },
                             {
                                 "mData": "DateUploaded",
                                 "render": function (data) {
                                     var date = new Date(data);
                                     var month = date.getMonth() + 1;
                                     return date.toLocaleString('en-GB', { day:'numeric', month:'numeric', year: 'numeric',  hour: 'numeric',minute:'numeric', hour12: true });  //date.getDate() + "-" + (month.length > 1 ? month : "0" + month) +  "-" + date.getFullYear() + " " +date.getHours() + ":" +date.getMinutes() + ":" +date.getSeconds();
                                 }},
                             { "mData": "UploadedBy" },
                              { "mData": "LastColumn" },
                        ],
                        "pagingType": "full_numbers"
                    });
                },
                getData: function () {
                    if (dataTable.table == null)
                        dataTable.initialiazeDataTable();
                    else {
                        dataTable.table.ajax.reload();
                    }
                }
            }

            $('#btnSearch').click(function (e) {
                //supply the variables here
                var model = {};
                model.RadetPeriod = $("#sltReportPeriod option:selected").val();

                let selectedIP = [];
                $("#sltIP option:selected").each(function () {
                    selectedIP.push($(this).val());
                });
                let selectedStates = [];
                $("#sltstate option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedStates.push(val);
                    }
                });
                let selectedLGA = [];
                $("#sltLGA option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedLGA.push(val);
                    }
                });
                let selectedFacilitties = [];
                $("#sltFacility option:selected").each(function () {
                    var val = $(this).val();
                    if (val != '') {
                        selectedFacilitties.push(val);
                    }
                });
                model.IPs = selectedIP;
                model.state_codes = selectedStates;
                model.lga_codes = selectedLGA;
                model.facilities = selectedFacilitties;
                dataTable.table.search(JSON.stringify(model)).draw(false);

            });

            dataTable.getData();

            $('input.form-control.input-sm[type=search]').unbind();
            //$('#main-table_filter.dataTables_filter').css("visibility", 'hidden');
            $("#main-table_length.dataTables_length").parent().removeClass("col-sm-6").addClass('col-sm-push-10 col-sm-3');
            $('#main-table_filter.dataTables_filter').parent().removeClass("col-sm-6").addClass('col-sm-pull-3 col-sm-2');
            //$('#main-table_filter.dataTables_filter').parent().css("padding-left", "20%");
            $('#main-table_filter.dataTables_filter').html("<a class='btn btn-sm btn-info' id='export'><i class='fa fa-download'></i> &nbsp; &nbsp; Export data</a> <i style='display:none' id='loadImg'><img class='center' src='/images/spinner.gif' width='40'> please wait ...</i>");


            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

            $("#download_for_dqa").on('click', function (event) {
                exportTableToCSV.apply(this, [$("#output"), 'report.csv', '-', 0, 0]);
            });

            $(document).on('click', '.chcktbl', function (e) {
                $('#chckHead').prop('checked', false);
                if (this.checked == false) {
                    //remove it from the array
                    var index = checkboxId.indexOf(parseInt(this.id))
                    if (index > -1) {
                        checkboxId.splice(index, 1);
                    }
                }
                else {
                    //add to array
                    checkboxId.push(parseInt(this.id))
                }
            });

            $("#export").on('click', function (event) {
                if(checkboxId.length == 0){
                    alert("Please use the checkbox to specify the data to download");
                    return;
                }
                $("#loadImg").show();
                $.ajax({
                    url: '/RadetAnalytics/ExportData?useSession=false&&radetIds=' + checkboxId.join(),
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function (response) {
                    ExportFormattedData(response);
                    checkboxId = [];
                    $('.chcktbl:checked').prop('checked', false);
                    $('#chckHead').prop('checked', false);
                    $("#loadImg").hide();
                }).error(function (xhr, status, err) {
                    alert($.parseJSON(xhr.responseText).Message);
                    console.log($.parseJSON(xhr.responseText).Message);
                    $("#loadImg").hide();
                });
                return false;
            });

            $(document).on('click', '.viewPatientListing', function (e) {
                $("#loadImg2").show();
                var id = e.currentTarget.id;
                $.ajax({
                    url: '/RadetAnalytics/RetrieveRadet?id=' + id,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function (response) {

                    buildTable($.parseJSON(response).data);
                    $('#patientListModal').modal('show');
                    $("#new-on-tx").html($.parseJSON(response).Current_year_tx_new);
                    $("#current-on-tx").html($.parseJSON(response).Tx_Current);
                    $("#selected-for-dqa").html($.parseJSON(response).SelectedForDQA)
                    $("#total-record").html($.parseJSON(response).data.length)
                    $("#loadImg2").hide();
                }).error(function (xhr, status, err) {
                    alert($.parseJSON(xhr.responseText).Message);
                    console.log($.parseJSON(xhr.responseText).Message);
                    $("#loadImg2").hide();
                });
                return false;
            });

            $(document).on('click', '.deletebtn', function (e) {

                alert("Modification to RADET is disabled at the moment")
                return;

                if (confirm('Confirm delete')) {
                    $(e.currentTarget.id).prop("disabled", true);
                    $.ajax({
                        url: '/RadetAnalytics/DeleteRadet?id=' + e.currentTarget.id,
                        type: 'POST',
                        data: new FormData(),
                        cache: false,
                        contentType: false,
                        processData: false
                    }).done(function (response) {
                        window.location.reload();
                    }).error(function (xhr, status, err) {
                        alert($.parseJSON(xhr.responseText).Message);
                        window.location.reload();
                    });
                }
                return false;
            });

        });
    </script>
}






