
@{
    ViewBag.Title = "Evaluation Plan";
}

@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    @Styles.Render("~/bundles/mysiteCss")
    <script src="~/Scripts/Ultilities.js"></script>
    <script type="text/javascript">
        {
            var activityArray = [];
        }
    </script>
}


<div class="main-content">

    <div class="row">
        <div class="col-lg-12">
            <form id="dmpForm" class="validate">
                <div class="panel panel-warning">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Create Evaluation Plan</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="IP">Implementing Partner</label>
                                <div class="col-sm-8">
                                    <input type="text" id="IP" readonly class="form-control" value="@ViewBag.Organization">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="ProgramName">Program Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="ep_ProgramName" required title="Program Name is required" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="ExpectedOutcome">Expected Program Outcome</label>
                                <div class="col-sm-8">
                                    <textarea id="ep_ExpectedOutcome" rows="4" title="Expected Outcome is required" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="StartDate">Start Date</label>
                                <div class="col-sm-3">
                                    <div id="ep_Start_date_div" class="input-group date">
                                        <input type="text" id="ep_Start_date" placeholder="select a start date" title="select a start date" data-format="D, dd MM yyyy" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label" for="EndDate">End Date</label>
                                <div class="col-sm-3">
                                    <div id="ep_End_date_div" class="input-group date">
                                        <input type="text" id="ep_End_date" placeholder="select an end date" title="select a end date" data-format="D, dd MM yyyy" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-warning">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Activities</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="ActivityName">Activity Name</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="ActivityName" title="Activity Name is required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="ac_ExpectedOutcome">Expected Outcome</label>
                                            <div class="col-sm-7">
                                                <textarea id="ac_ExpectedOutcome" title="Expected Outcome is required" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="StartDate">Start Date</label>
                                            <div class="col-sm-3">
                                                <div id="ac_startdate_div" class="input-group date">
                                                    <input type="text" id="ac_startdate" placeholder="select a start date" title="select a start date" data-format="D, dd MM yyyy" class="form-control">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>

                                            <label class="col-sm-1 control-label" for="EndDate" style="padding: 0;">End Date</label>
                                            <div class="col-sm-3">
                                                <div id="ac_EndDate_div" class="input-group date">
                                                    <input type="text" id="ac_EndDate" placeholder="select an end date" title="select a end date" data-format="D, dd MM yyyy" class="form-control">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                            <a class="btn btn-black btn-sm btn-outline" id="addtoEP">Add to List</a>
                                        </div>
                                    </div>

                                    <div class="panel-body" id="activitypanel">

                                    </div> 
                                </div>
                            </div>
                             
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href='@Url.Action("index","Home")' class="btn btn-default">
                                        <i class="fa fa-close"></i> Cancel
                                    </a>
                                    &nbsp;&nbsp;
                                    <button type="submit" id="epSubmit" class="btn btn-warning">Save</button>
                                    <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $(document).ready(function () {
            $("input").attr("autocomplete", "off");

            $("#addtoEP").click(function (e, n) {
               
                var activityName = $("#ActivityName").val();
                var expected_outcome = $("#ac_ExpectedOutcome").val();
                var start_date = $("#ac_startdate").val();
                var end_date = $("#ac_EndDate").val();

                var activity = {};
                activity.Name = activityName;
                activity.ExpectedOutcome = expected_outcome;
                activity.StartDate = start_date;
                activity.EndDate = end_date;
                activityArray.push(activity);

                var html = "<div class='panel panel-default minimal'><div class='panel-body'>";
                html += "<label class='col-sm-2'>" + start_date + " - " + end_date + "</label>";
                html += "<h3 class='no-margins'><strong>" + activityName + "</strong></h3>";
                html += "<p>" + expected_outcome + "</p></div></div>"

                $("#activitypanel").append(html);

                $("#ActivityName").val("");
                $("#ac_ExpectedOutcome").val("");
                $("#ac_startdate").val("");
                $("#ac_EndDate").val("");
            });

            $("#epSubmit").click(function (e, n) {

                var form = $(e.currentTarget.form);
                var validator = form.validate();
                if (form.valid()) {
  
                    $("#loadImg").show();
                    $('#epSubmit').disabled = true;
  
                    var Evaluation = {};
                    Evaluation.Activities= activityArray;
                    Evaluation.ExpectedOutcome = $("#ep_ExpectedOutcome").val()
                    Evaluation.StartDate = $("#ep_Start_date").val();
                    Evaluation.EndDate = $("#ep_End_date").val();
                    Evaluation.ProgramName = $("#ep_ProgramName").val();

                    var redirectUrl = '@Url.Action("Index", "EvaluationPlan")';
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveEP", "EvaluationPlan")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(Evaluation),
                        cache: false,
                    }).done(function (id) {
                        console.log(id);
                        window.location.replace(redirectUrl);
                    }).error(function (xhr, status, err) {
                        alert(err);
                        console.log(err);
                        $("#loadImg").hide();
                        $('#epSubmit').disabled = false;
                    });
                    return false;
                }
            });

        });
    </script>
}