@model List<BWReport.DAL.Entities.HealthFacility>

@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
     
}

<div class="main-content">
    <h1 class="page-title"> </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-warning">
                <div class="panel-heading clearfix">
                    Health Facilities
                    <div class="col-sm-7 col-sm-offset-9">
                        <a id="uploadfacilitybtn" href='#' class="btn btn-black btn-sm btn-outline">
                            <i class="fa fa-plus"></i> Upload New Facilities
                        </a>
                        <a id="dmpCreate" href='@Url.Action("CreateHealthFacility", "HealthFacility")' class="btn btn-black btn-sm btn-outline">
                            <i class="fa fa-plus"></i> Add New Facility
                        </a>
                        <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36"> 
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Facility Code</th>
                                    <th>Name</th>                                    
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="window.document.location='/HealthFacility/HealthFacilityDetail?facilityId=@item.Id'" style="cursor: pointer;">
                                        <td>@item.FacilityCode</td>
                                        <td>@item.Name</td>
                                        <td>@CommonUtil.Utilities.Utilities.PasCaseConversion(Enum.GetName(typeof(CommonUtil.Enums.OrganizationType), item.OrganizationType))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 500px;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: #929b17">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align: center;">Upload Facilities</h4>
            </div>
            <div style="padding-top: 15px; padding-left: 7px;">
                <form class="form-horizontal" role="form">
                    <label id="error" class="text-danger" style="display:none"></label>                     
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Upload CSV File:</label>
                        <div class="col-md-8">
                            <input type="file" class="form-control" id="fileUpload" placeholder="Upload CSV file" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-3">     </div>
                <div class="col-sm-7">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel</button>
                    <button id="upload" type="button" class="btn btn-primary"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                    <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    @Scripts.Render("~/bundles/dataTables")
    <script>
        $(document).ready(function () {
            $("#dmpCreate").click(function (e, n) {
                $("#loadImg").show();
                $('#dmpCreate').disabled = true;
            });

            $("#uploadfacilitybtn").click(function () {
                $('#uploadModal').modal('show');
            });


            $("#upload").click(function (e, n) {

                $('#upload submit').disabled = true;
                $("#loadImg").show();

                var data = new FormData();

                try {
                    var file = $('form input[type=file]')[0].files[0];
                    data.append('file', file); 
                }
                catch (e) {
                    $('#submit').disabled = false;
                    $("#loadImg").hide();
                    $("#error").append("system error occurred. Please provide valid inputs")
                    $("#error").show();
                    return false;
                }


                $.ajax({
                    type: "POST",
                    url: '/HealthFacility/Upload',
                    contentType: false,
                    processData: false,
                    data: data,
                    cache: false,
                }).done(function (result) {
                    $('#submit').disabled = false;
                    $("#loadImg").hide();
                    
                    $("#error").append(result);
                    $("#error").show();
                }).error(function (xhr, status, err) {
                    console.log(err);
                    $('#submit').disabled = false;
                    $("#loadImg").hide();
                    $("#error").append(err);
                    $("#error").show();
                });
                return false;

            });
        });
    </script>
}

