@model DMP.ViewModel.BWR.ReportViewModel


@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <style>
        .form-control {
            border-color: #29b6f6;
        }

        form {
            color: #000;
        }
    </style>
}
 


<div id="page-wrapper" class="main-content">

    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            LGA-Level Achievement per Target & Clinical Cascade
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="overflow-x: initial;">
                <table style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr style="color: #FFF;background-color: #29b6f6;border-color: #29b6f6;">
                            <th>LGA</th>
                            <th>Linkage Rate</th>
                            <th>HTC_TST </th>
                            <td>TARGET</td>
                            <th>% Acht</th>
                            <th>HTC_TST_pos</th>
                            <th>TARGET</th>
                            <th>% ACHV</th>
                            <th>Tx_NEW</th>
                            <th>TARGET</th>
                            <th>% ACHV</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LGAReports)
                        {
                            <tr>
                                <td>@item.lga_name</td>
                                <td>@item.LinkageRate.ToString("N")</td>
                                <td>@item.TOTAL_HTC_TST</td>
                                <td>@item.HTC_TST_Target</td>
                                <td>@item.HTC_TST_Percentage_Achievement.ToString("N")</td>
                                <td>@item.TOTAL_HTC_TST_POS</td>
                                <td>@item.HTC_TST_POS_Target</td>
                                <td>@item.HTC_TST_POS_Percentage_Achievement.ToString("N")</td>
                                <td>@item.Total_Tx_New</td>
                                <td>@item.Tx_New_Target</td>
                                <td>@item.Tx_New_Acheivement.ToString("N")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            Positivity Rates
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading clearfix">
                            Facility
                        </div>
                        <div class="table-responsive" style="overflow-x: initial;">
                            <table style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables">
                                <thead>
                                    <tr style="color: #FFF;background-color: #29b6f6;border-color: #29b6f6;">
                                        <th>LGA</th>
                                        <th>Tested</th>
                                        <th>Positive </th>
                                        <td>Positivity</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.FacilityPositivty)
                                    {
                                    <tr>
                                        <td>@item.lga_name</td>
                                        <td>@item.Tested</td>
                                        <td>@item.Positive</td>
                                        <td>@item.Positivity.ToString("N")</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading clearfix">
                            Community
                        </div>
                        <div class="table-responsive" style="overflow-x: initial;">
                            <table style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables">
                                <thead>
                                    <tr style="color: #FFF;background-color: #29b6f6;border-color: #29b6f6;">
                                        <th>LGA</th>
                                        <th>Tested</th>
                                        <th>Positive </th>
                                        <td>Positivity</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CommunityPositivty)
                                    {
                                    <tr>
                                        <td>@item.lga_name</td>
                                        <td>@item.Tested</td>
                                        <td>@item.Positive</td>
                                        <td>@item.Positivity.ToString("N")</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
        
 
        @section Scripts
{
            @Scripts.Render("~/bundles/CreateDMPJs")
            @Scripts.Render("~/bundles/dataTables")

            <script>

                $(document).ready(function () {

                    $(".page-container").attr('class', 'page-container sidebar-collapsed');


                    $('.table').DataTable({
                        responsive: true
                    });

                });
            </script>
}
