@model  ShieldPortal.ViewModel.CreateIPViewModel
@{
    ViewBag.Title = "Create New IP";
}
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    @Styles.Render("~/bundles/mysiteCss")
    <style>
        .form-control {
            border-color: #000;
        }
        form {
            color: #000;
        }

    </style>
<script src="~/Scripts/Ultilities.js"></script>
}

<div class="main-content">
    <div style="width: 80%;">
        <div class="row">

            <form id="mainform" class="form-horizontal">
                <h4 style="text-align: center">Create New IP</h4>

                @foreach (var field in Model.FieldCollection)
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="@field.Key.Replace(" ","")"><b>@field.Key</b></label>
                        <div class="col-sm-6">
                            @if ((string)field.Value == "String")
                            {
                                <input type="text" placeholder="@field.Key" id="@field.Key.Replace(" ","")" required title="@field.Key is required" class="form-control">
                            }
                            else if ((string)field.Value == "Byte[]")
                            {
                                <input type="file" onchange="imagePreview(this)" id="@field.Key.Replace(" ","")" accept="image/*" class="form-control">
                            }
                        </div>
                    </div>
                }

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href='@Url.Action("index","Home")' class="btn btn-default">
                            <i class="fa fa-close"></i> Cancel
                        </a>
                        &nbsp;&nbsp;
                        <button type="submit" id="dmpSubmit" class="btn btn-warning">Save</button>
                        <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $(document).ready(function () {
            $('#PhoneNumberOfAuthor,#PhonenumberofApprover').keypress(function (key) {
                if (key.charCode < 48 || key.charCode > 57)
                    if (key.charCode != 43) {
                        $('#my_modal').on('show.bs.modal', function (e) {
                            $('#warningbox').val('invalid input');
                        });
                        $('#myModal').modal('show');
                        return false;
                    }
            });

            $("input").attr("autocomplete", "off");

            $("#dmpSubmit").click(function (e, n) {

                var form = $(e.currentTarget.form);
                var validator = form.validate();
                if (form.valid()) {
                    var formdata = $('#mainform')[0].elements;
                    var viewModel = {};

                    $("#loadImg").show();
                    $('dmpSubmit').disabled = true;

                    $.each(formdata, function (name, formElements) {
                        viewModel[formElements.id] = formElements.value;
                    });
                    if (base64Image != undefined)
                        viewModel["Logo"] = base64Image.replace("data:image/jpeg;base64,", "");

                    var someUrl = '@Url.Action("CreateNewOrganization", "Organization")';
                    $.ajax({
                        type: "POST",
                        url: someUrl,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(viewModel),
                        cache: false,
                    }).done(function (dmpId) {
                        console.log(dmpId);
                        window.location.replace('@Url.Action("index", "Organization")');
                        $("#loadImg").hide();
                        $('dmpSubmit').disabled = false;
                    }).error(function (xhr, status, err) {
                        alert(err);
                        console.log(err);
                        $("#loadImg").hide();
                        $('dmpSubmit').disabled = false;
                    });

                    return false;
                }
            });
               
             
        });
    </script>
}