@model  CommonUtil.Entities.Organizations
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    @Styles.Render("~/bundles/mysiteCss")
     
<script src="~/Scripts/Ultilities.js"></script>
}

<div class="col-lg-8">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h4 class="panel-title">Edit IP Details</h4>
            </div>
        </div>
        <div class="panel-body">
            <form id="mainform" class="validate">
                <div class="form-horizontal">
                    @foreach (var field in typeof(CommonUtil.Entities.Organizations).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                            <div class="col-sm-9">
                                @if (field.Name == "OrganizationType")
                                {
                                    <select id="@field.Name" class="form-control" required>
                                        @foreach (var orgType in Enum.GetValues(typeof(CommonUtil.Enums.OrganizationType)))
                                        {
                                            if (Convert.ToString(orgType) == Convert.ToString(field.GetValue(Model)))
                                            {
                                                <option value="@orgType" selected>@CommonUtil.Utilities.Utilities.PasCaseConversion(orgType)</option>
                                            }
                                            <option value="@orgType">@CommonUtil.Utilities.Utilities.PasCaseConversion(orgType)</option>
                                        }
                                    </select>
                                }
                                else if (field.PropertyType == typeof(byte[]))
                                {
                                    <input type="file" onchange="imagePreview(this)" id="@field.Name" accept="image/*" class="form-control">
                                }
                                else if (field.Name == "SubscribedApps")
                                {
                                    <select id="@field.Name" class="select2 form-control" data-placeholder="Select subscribed apps" multiple required>
                                        @foreach (var apps in ViewBag.AppServices)
                                        {
                                            if (field.GetValue(Model) !=null && (field.GetValue(Model) as List<string>).Contains(apps))
                                            {
                                                <option value="@apps" selected>@apps</option>
                                            }
                                            else
                                            {
                                                <option value="@apps">@apps</option>
                                            }

                                        }
                                    </select>
                                }
                                else
                                {
                                    <input type="text" id="@field.Name" value="@field.GetValue(Model)" required title="required field" class="form-control">
                                }

                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-8">
                            <a href='@Url.Action("index","Organization")' class="btn btn-sm btn-default">
                                <i class="fa fa-close"></i> Cancel
                            </a>
                            &nbsp;&nbsp;
                            <button type="submit" id="dmpSubmit" class="btn btn-sm btn-danger">Update</button>
                            <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts
{
   @Scripts.Render("~/bundles/CreateDMPJs")
<script>

    $("#dmpSubmit").click(function (e, n) {

        e.preventDefault();

            var formdata = $('#mainform')[0].elements;
            var viewModel = {};

            $("#loadImg").show();
            $('#dmpSubmit').disabled = true;

            $.each(formdata, function (name, formElements) {
                if(formElements.id == "Logo" && base64Image != undefined){

                    viewModel["Logo"] = base64Image.replace("data:image/jpeg;base64,","").replace("data:image/png;base64,","");
                }else if(formElements.id == "SubscribedApps"){
                    var selected_services = [];
                    $("#SubscribedApps option:selected").each(function(){
                        selected_services.push($(this).val());
                    });
                    viewModel["SubscribedApps"] =selected_services;
                }
                else{
                    viewModel[formElements.id] = formElements.value;
                }
            });
            viewModel["Id"] = @Model.Id;

            var someUrl = '@Url.Action("EditOrganization", "Organization")';
            $.ajax({
                type: "POST",
                url: someUrl,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(viewModel),
                cache: false,
            }).done(function (dmpId) {
                console.log(dmpId);
                window.location.replace('@Url.Action("index", "Organization")');
                $("#loadImg").hide();
                $('#dmpSubmit').disabled = false;
            }).error(function (xhr, status, err) {
                alert(err);
                console.log(err);
                window.location.replace('@Url.Action("index", "Organization")');
                $("#loadImg").hide();
                $('#dmpSubmit').disabled = false;
            });

            return false;
    });
    </script>
}