@model  DMP.ViewModel.EditDocumentViewModel2
@{
    ViewBag.Title = "Preview Document";
}
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
}
<div class="main-content">
    <a href="javascript:history.back()"><i class="icon-left-open"></i><b>Go Back</b></a>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Preview DMP Document</h4>

                    <div style="float: right;padding: 0;margin-bottom: 0;margin-right: -0.5em;">
                        <a href="~/Home/EditDocumentWizardPage?documnentId=@Model.documentID" class="btn btn-info"><i class="fa fa-paste"></i><span>Edit</span></a>
                        <a id="downloadbtn" class="btn btn-success"><i class="icon-down"></i><span>Download</span></a>
                        <a id="approvebtn" class="btn btn-warning"><i class="icon-info"></i><span>Approval</span></a>
                    </div>

                </div>
                <div class="panel-body">
                    <form id="previewWizard">
                        <hr />

                        <div id="ProjectProfile">
                            <h4 class="panel-title" style="margin-left: 90px;">
                                <b>Project Profile</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="ProjectDetails">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Project Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3">Project Title</label>
                                            <span id="ProjectTitle">@Model.projectDetails.ProjectTitle</span>
                                            <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="col-sm-3">Project Logo</label>
                                                <div>
                                                    <input type="file" accept="image/*" id="ProjectLogo">
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="col-sm-3">Document Title</label>
                                            <span id="DocumentTitle">@Model.projectDetails.DocumentTitle </span><a class="btn btn-default commentBox"> comment</a>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3" for="organization">Organization</label>
                                            <span id="organization">@Model.projectDetails.NameOfImplementingPartner </span><a class="btn btn-default commentBox"> comment</a>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3" for="AddressofAuthor">Address of Author</label>
                                            <div>
                                                <span id="AddressofAuthor">@Model.projectDetails.AddressofAuthor</span>
                                                <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="MissionPartner">Mission Partner</label>
                                            <div>
                                                <span id="MissionPartner">@Model.projectDetails.NameOfImplementingPartner</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3" for="ProjectStartDate">Project Start Date</label>
                                            <div>
                                                <span id="ProjectStartDate">@Model.projectDetails.ProjectStartDate</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3">Project End Date</label>
                                            <div>
                                                <span id="ProjectEndDate">@Model.projectDetails.ProjectEndDate</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3" for="GrantReferenceNumber">Grant Reference Number</label>
                                            <div>
                                                <span id="GrantReferenceNumber">@Model.projectDetails.GrantReferenceNumber</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of project details section-->

                            <div class="panel panel-default" id="EthicsApproval">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Ethics Approval</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="EthicalApprovalForTheProject">Ethical Approval For the Project</label>
                                            <div>
                                                <span id="EthicalApprovalForTheProject">@Model.ethicsApproval.EthicalApprovalForTheProject</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="TypeOfEthicalApproval">Type of Ethical Approval</label>
                                            <div>
                                                <span id="TypeOfEthicalApproval">@Model.ethicsApproval.TypeOfEthicalApproval</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of ethic approval section-->
                        </div>
                        <!-- end of Project profile page-->


                        <div id="DocumentRevisions">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Document Revisions</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="Version">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Version</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel panel-default" id="VersionMetaData">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Version Metadata</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="VersionDate">Version Date</label>
                                                    <div>
                                                        <span id="VersionDate">@Model.versionMetadata.VersionDate</span> 
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3" for="VersionNumber">Version Number</label>
                                                    <div>
                                                        <span id="VersionNumber">@Model.versionMetadata.VersionNumber</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End of Version Metadata section-->

                                    <div class="panel panel-default" id="VersionAuthor">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Version Author</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="TitleOfAuthor">Title of Author</label>
                                                    <div>
                                                        <span id="TitleOfAuthor">@Model.versionAuthor.TitleOfAuthor</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="SurnameAuthor">Surname of Author</label>
                                                    <div>
                                                        <span id="SurnameAuthor">@Model.versionAuthor.SurnameAuthor</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="FirstNameOfAuthor">First Name of Author</label>
                                                    <div>
                                                        <span id="FirstNameOfAuthor">@Model.versionAuthor.FirstNameOfAuthor</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="OtherNamesOfAuthor">Other Names of Author</label>
                                                    <div>
                                                        <span id="OtherNamesOfAuthor">@Model.versionAuthor.OtherNamesOfAuthor</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="JobDesignation">Job Designation</label>
                                                    <div>
                                                        <span id="JobDesignation">@Model.versionAuthor.JobDesignation</span>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-sm-3" for="SignatureOfAuthor">Signature of Author</label>
                                                        <div>
                                                            <input type="file" placeholder="Signature of Author" accept="image/*" id="SignatureOfAuthor">
                                                        </div>
                                                    </div>*@
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="PhoneNumberOfAuthor">Phone number of Author</label>
                                                    <div>
                                                        <span id="PhoneNumberOfAuthor">@Model.versionAuthor.PhoneNumberOfAuthor</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="EmailAddressOfAuthor">Email address of Author</label>
                                                    <div>
                                                        <span id="EmailAddressOfAuthor">@Model.versionAuthor.EmailAddressOfAuthor</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End of Version Author section-->

                                    <div class="panel panel-default" id="Approval">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Approval</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="TitleofApprover">Title of Approver</label>
                                                    <div>
                                                        <label placeholder="Title of Approver" id="TitleofApprover"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="SurnameApprover">Surname of Approver</label>
                                                    <div>
                                                        <label placeholder="Surname of Approver" id="SurnameApprover">@Model.approval.SurnameApprover</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="FirstnameofApprover">First Name of Approver</label>
                                                    <div>
                                                        <label placeholder="First Name of Approver" id="FirstnameofApprover">@Model.approval.FirstnameofApprover</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="OthernamesofApprover">Other Names of Approver</label>
                                                    <div>
                                                        <label placeholder="Other Names of Approver" id="OthernamesofApprover">@Model.approval.OthernamesofApprover</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="JobdesignationApprover">Job Designation of Approver</label>
                                                    <div>
                                                        <label placeholder="Job Designation of Approver" id="JobdesignationApprover">@Model.approval.JobdesignationApprover</label>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-sm-3" for="SignatureofApprover">Signature of Approver</label>
                                                        <div>
                                                            <input type="file" placeholder="Signature of Approver" accept="image/*" id="SignatureofApprover">
                                                        </div>
                                                    </div>*@
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="PhonenumberofApprover">Phone number of Approver</label>
                                                    <div>
                                                        <label placeholder="Phone number of Approver" id="PhonenumberofApprover">@Model.approval.PhonenumberofApprover</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="EmailaddressofApprover">Email address of Approver</label>
                                                    <div>
                                                        <label placeholder="Email address of Approver" id="EmailaddressofApprover">@Model.approval.EmailaddressofApprover</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End of Approval section -->

                                </div>
                            </div>
                        </div>
                        <!-- end of document revision page-->


                        <div id="Planning">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Planning</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="Summary">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Summary</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="ProjectSummary">Project Summary</label>
                                                <span id="ProjectSummary">@Model.summary.ProjectSummary</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of Summary section-->
                        </div>
                        <!-- end of Planning page-->


                        <div id="DataCollection">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Data Collection</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="Report">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Report</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel panel-default" id="ReportData">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Report Data</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="NameOfReport">Name of Report</label>
                                                    <div>
                                                        <span id="NameOfReport">@Model.reportData.NameOfReport</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="ThematicArea">Thematic Area</label>
                                                    <div>
                                                        <span id="ThematicArea">@Model.reportData.ThematicArea</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="FrequencyOfDataCollection">Frequency of Data Collection</label>
                                                    <div>
                                                        <span id="FrequencyOfDataCollection">@Model.reportData.FrequencyOfDataCollection</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="Datatype">Data Type</label>
                                                    <div>
                                                        <span id="Datatype">@Model.reportData.Datatype</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="Dataformat">Data Format</label>
                                                    <div>
                                                        <span id="Dataformat">@Model.reportData.Dataformat</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="DataCollectionAndReportingTools">Data Collection and Reporting Tools</label>
                                                    <div>
                                                        <span id="DataCollectionAndReportingTools">@Model.reportData.DataCollectionAndReportingTools</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-sm-3" for="DataFlowChart">Data Flow Chart</label>
                                                        <div>
                                                            <input type="file" placeholder="Data Flow Chart" accept="image/*" id="DataFlowChart">
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--End of Report Data section -->

                                    <div class="panel panel-default" id="RoleAndResponsibilities">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Role And Responsibilities</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="HealthFacility">Health Facility</label>
                                                    <div>
                                                        <span id="HealthFacility">@Model.roleNresp.HealthFacility</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3" for="ImplementingPartner">Implementing Partner</label>
                                                    <div>
                                                        <span placeholder="Implementing Partner" id="ImplementingPartner">@Model.roleNresp.ImplementingPartner</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="LGA">LGA</label>
                                                    <div>
                                                        <span id="LGA">@Model.roleNresp.LGA</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="StateMoH">State MoH</label>
                                                    <div>
                                                        <span id="StateMoH">@Model.roleNresp.StateMoH</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="CDC">CDC</label>
                                                    <div>
                                                        <span id="CDC">@Model.roleNresp.CDC</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3" for="FMoH">FMoH</label>
                                                    <div>
                                                        <span id="FMoH">@Model.roleNresp.FMoH</span> <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End of RoleNResponsibilities section-->
                                </div>
                            </div>
                            <!--end of Report-->
                        </div>
                        <!-- end of Data Collection page-->


                        <div id="QualityAssurance">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Quality Assurance</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="DataVerification">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Data Verification</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="FormsOfDataVerification">Forms of Data Verification</label>
                                            <div>
                                                <span id="FormsOfDataVerification">@Model.dataVerification.FormsOfDataVerification</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="TypesOfDataVerification">Types of Data Verification</label>
                                            <div>
                                                <span id="TypesOfDataVerification">@Model.dataVerification.TypesOfDataVerification</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Data verificaton section-->
                        </div>
                        <!-- end of Quality Assurance page-->


                        <div id="DataCollectionProcesses">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Data Collection Processes</b>
                            </h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="DataCollectionProcessess">Data Collection Processes</label>
                                        <span id="DataCollectionProcessess">@Model.datacollectionProcesses.DataCollectionProcessess</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Collection Processes page-->


                        <div id="DataStorage">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Data Storage</b>
                            </h4>
                            <hr />
                            <div class="panel panel-default" id="Digital">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Digital</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="VolumeOfdigitalData">Volume of Digital Data</label>
                                            <div>
                                                <span id="VolumeOfdigitalData">@Model.digital.VolumeOfdigitalData</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="Storagetype">Storage Type</label>
                                            <div>
                                                <span id="Storagetype"> @Model.digital.Storagetype</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="Storagelocation">Storage Location</label>
                                            <div>
                                                <span id="Storagelocation">@Model.digital.Storagelocation</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="Backup">Backup?</label>
                                            <span id="Backup">@Model.digital.Backup</span> <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="Datasecurity">Data Security</label>
                                            <div>
                                                <span id="Datasecurity">@Model.digital.Datasecurity</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="Patientconfidentialitypolicies">Patient Confidentiality Policies</label>
                                            <div>
                                                <span id="Patientconfidentialitypolicies">@Model.digital.Patientconfidentialitypolicies</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="StorageOfPreExistingData">Storage of Pre-Existing Data</label>
                                            <div>
                                                <span id="StorageOfPreExistingData">@Model.digital.StorageOfPreExistingData</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of Digital data section-->

                            <div class="panel panel-default" id="NonDigital">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Non-Digital</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="NonDigitalDataTypes">Non-Digital Data Types</label>
                                            <div>
                                                <span id="NonDigitalDataTypes">@Model.nonDigital.NonDigitalDataTypes</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="NonDigitalStorageLocation">Storage Location</label>
                                            <div>
                                                <span id="NonDigitalStorageLocation">@Model.nonDigital.StorageLocation</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3" for="SafeguardsAndRequirements">Safeguards and Requirements</label>
                                            <div>
                                                <span id="SafeguardsAndRequirements">@Model.nonDigital.SafeguardsAndRequirements</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of non digital data section -->
                        </div>
                        <!-- end of Data Storage page-->


                        <div id="IntellectualPropertyCopyrightAndOwnership">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Intellectual Property Copyright and Ownership</b>
                            </h4>
                            <hr />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3" for="ContractsAndAgreements">Contracts and Agreements</label>
                                    <div>
                                        <span id="ContractsAndAgreements">@Model.intelProp.ContractsAndAgreements</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="Ownership">Ownership</label>
                                    <div>
                                        <span id="Ownership">@Model.intelProp.Ownership</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="UseOfThirdPartyDataSources">Use of Third Party Data Sources</label>
                                    <div>
                                        <span id="UseOfThirdPartyDataSources">@Model.intelProp.UseOfThirdPartyDataSources</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Intellectual Property Copyright And Ownership page-->


                        <div id="DataAccessAndSharing">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Data Access and Sharing</b>
                            </h4>
                            <hr />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3" for="DataAccess">Data Access</label>
                                    <div>
                                        <span id="DataAccess">@Model.dataSharing.DataAccess</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3" for="DataSharingPolicies">Data Sharing Policies</label>
                                    <div>
                                        <span id="DataSharingPolicies">@Model.dataSharing.DataSharingPolicies</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="DataTransmissionPolicies">Data Transmission Policies</label>
                                    <div>
                                        <span id="DataTransmissionPolicies">@Model.dataSharing.DataTransmissionPolicies</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="SharingPlatForms">Sharing PlatForms</label>
                                    <div>
                                        <span id="SharingPlatForms">@Model.dataSharing.SharingPlatForms</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Access and Sharing page-->


                        <div id="DataDocumentationManagementAndEntry">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Data Documentation Management and Entry</b>
                            </h4>
                            <hr />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4" for="StoredDocumentationAndDataDescriptors">Stored Documentation and Data Descriptors</label>
                                    <div>
                                        <span id="StoredDocumentationAndDataDescriptors">@Model.dataDocMgt.StoredDocumentationAndDataDescriptors</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4" for="NamingStructureAndFilingStructures">Naming Structure and Filing Structures</label>
                                    <div>
                                        <span id="NamingStructureAndFilingStructures">@Model.dataDocMgt.NamingStructureAndFilingStructures</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Documentation Management and Entry page-->


                        <div id="PostProjectDataRetentionSharingAndDestruction">
                            <h4 class="panel-title" style="margin-left: 70px;">
                                <b>Post Project Data Retention Sharing and Destruction</b>
                            </h4>
                            <hr />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3" for="DataToRetain">Data To Retain</label>
                                    <div>
                                        <span id="DataToRetain">@Model.ppData.DataToRetain</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="PreExistingData">Pre-Existing Data</label>
                                    <div>
                                        <span id="PreExistingData">@Model.ppData.PreExistingData</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="Duration">Duration</label>
                                    <div>
                                        <span id="Duration">@Model.ppData.Duration</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="Licensing">Licensing</label>
                                    <div>
                                        <span id="Licensing">@Model.ppData.Licensing</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" id="DigitalDataRetention">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Digital Data Retention</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="DataRetention">Data Retention</label>
                                            <div>
                                                <span id="DataRetention">@Model.ppData.DigitalDataRetention.DataRetention</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of digital data retention-->

                            <div class="panel panel-default" id="NonDigitalDataRetention">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Non Digital Data Retention</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3" for="nonDigitalDataRetention">Data Retention</label>
                                            <div>
                                                <span id="nonDigitalDataRetention">@Model.ppData.NonDigitalRentention.DataRention</span> <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of non digital data rentention-->
                        </div>
                        <!-- end of Post Project Data Retention Sharing and Destruction page-->
                        <a href="javascript:history.back()"><i class="icon-left-open"></i><b>Go Back</b></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">comments</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body" style="display: block;">
                    <div id="UlInModal">

                    </div>
                    <div class="form-group">
                        <input class="form-control" id="newCC" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <a id="addcomment" class="btn btn-default" style="float:right">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ApprovalModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please confirm action</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="approveConfirm" type="button" class="btn btn-success">Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ApprovalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="approvedmsg" class="modal-title"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $(document).ready(function () {

            $("#downloadbtn").click(function (e, n) {
                 
                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/DownloadDocument?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (response) {                    

                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });



            if('@Model.status' == "Approved"){
                $("#approvebtn").hide();
            }


            $("#approvebtn").click(function (e, n) {
                $('#ApprovalModal1').modal('show');
            });
            $("#approveConfirm").click(function (e, n) {

                $('#ApprovalModal1').modal('hide');

                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/ApproveDocument?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (response) {
                    var $msg = $("<span><b>"+ response +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');

                    if(response == "Approved"){
                        $("#approvebtn").hide();
                    }

                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });


            var clickedTag;
            //build the comments, auto retrieve from the DB based on the tag name
            $(".commentBox").click(function (e, n) {
                clickedTag = $(this).parent().children("span")[0].id;

                var comments =@Html.Raw(Json.Encode(Model.Comments));
                $("#UlInModal").html('');
                if(comments.length > 0){
                    var selectedComments = $.grep(comments, function(a){
                        return a.TagName === clickedTag;
                    });
                    $.each(selectedComments, function(index, value){
                        GnerateListElement(value);
                    })
                }
                $('#commentmodal').modal('show');
            });

            function GnerateListElement(acomments){
                var newElement = '<div class="form-group">'+
	                                '<span style="display: block;">'+acomments.Commenter+'</span>'+
                                    '<span style=" display: block;margin-left: 25px;">'+acomments.Message+' </span>'+
                                    '<span class="sub-text" style="float: right;">'+acomments.DateAdded+'</span>' +
                                '</div>'

                var $li = $(newElement); //$("<li>"+ content +"</li>");
                $("#UlInModal").append($li);
            }

            $("#addcomment").click(function (e, n) {
                var someUrl = '@Url.Action("AddComment", "DocumentViewer")';
                var data = JSON.stringify({ "TagName": clickedTag, "Message":$('#newCC').val()});
                $.ajax({
                    type: "POST",
                    url: someUrl,
                    contentType: "application/json; charset=utf-8",
                    data: data,
                    cache: false,
                }).done(function (response) {
                    if(response.Id != undefined){
                        GnerateListElement(response);
                        $('#newCC').val('')
                    }
                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });

            '<div class="form-group">'+
             '<span style="display: block;">Email address</span>'+
             '<span style=" display: block;margin-left: 25px;">commment here </span>'+
              '<span class="sub-text" style="float: right;">on March 5th, 2014</span>' +
               '</div>'


        });
    </script>
}
