@model  DMP.ViewModel.EditDocumentViewModel2
@{
    ViewBag.Title = "Preview Document";
}
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")

    <style>
        .Adjusted-header {
            padding-left: 30%;
            padding-top: 10px;
            height: 30px;
            background-color: #004b17;
            color: #fff;
        }

        .panel-success {
            border-color: #929b17;
        }

            .panel-success > .panel-heading {
                color: #FFF;
                background-color: #929b17;
                border-color: #929b17;
            }

        .panel-warning {
            border-color: #929b17;
        }

            .panel-warning > .panel-heading {
                color: #FFF;
                background-color: #929b17;
                border-color: #929b17;
            }

        .commentBox {
            float: right; 
            border-color: #929b17;
        }

        .commentBox:hover {
    color: #333;
    background-color: #929b17;
    border-color: #929b17;
}
    </style>

<script src="~/Scripts/Ultilities.js"></script>
    <script type="text/javascript">
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var editMode = false;
        var ReportArrayFromServer =  @Html.Raw(Json.Encode(Model.reportDataList));
        var reportArray = [];

        var DataCollectionArrayFromServer = @Html.Raw(Json.Encode(Model.dataCollection));
        var datacollectionArray = [];
        var TrainingArrayFromServer = @Html.Raw(Json.Encode(Model.Trainings));
        var trainingArray = [];
        var DataVerificationArrayFromServer = @Html.Raw(Json.Encode(Model.dataVerification));
        var DataVerificationArray =[];

    </script>
}
<div class="main-content">
    <a href="javascript:history.back()" class="btn btn-success btn-sm btn-outline"><i class="icon-left-open"></i><b>Go Back</b></a>
    
  <h3 style="text-align:center"> @Model.projectDetails.DocumentTitle </h3> 
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-warning">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Preview DMP Document</h4>

                    <div style="float: right;padding: 0;margin-bottom: 0;margin-right: -0.5em;">
                        <a href="~/DMPDocument/WizardPages?documnentId=@Model.documentID&&dmpId=@Model.dmpId" class="btn btn-black btn-sm btn-outline">
                            <i class="fa fa-paste"></i><span>&nbsp;Edit</span>
                        </a>
                        <a id="submitbtn" class="btn btn-black btn-sm btn-outline"><i class="icon-check"></i><span>Submit</span></a>
                        <a id="downloadbtn" class="btn btn-black btn-sm btn-outline"><i class="icon-download"></i><span>Download</span></a>
                        <a id="approvebtn" class="btn btn-black btn-sm btn-outline"><i class="icon-info"></i><span>Approval</span></a>
                        <a href="~/Home/tracker?documnentId=@Model.documentID" class="btn btn-black btn-sm btn-outline">
                            <i class="icon-flow-parallel"></i> View tracker
                        </a>
                    </div>
                </div>

                <div class="panel-body">
                    <form id="previewWizard">
                        

                        <div class="panel panel-success" id="ProjectProfile">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">Project Profile</h4>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-success" id="ProjectDetails">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Project Details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div>
                                                <label class="col-sm-3"></label>
                                                <img src='@(Model.Organization ==null || Model.Organization.Logo ==null ? "":  "data:image/jpg;base64,"+ Convert.ToBase64String(Model.Organization.Logo))' height="100">
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3">Project Title</label>
                                                <span id="ProjectTitle">@Model.projectDetails.ProjectTitle</span>
                                                <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">Document Title</label>
                                                <span id="DocumentTitle">@Model.projectDetails.DocumentTitle </span><a class="btn btn-default commentBox"> comment</a>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3" for="organization">Organization</label>
                                                <span id="organization">@Model.projectDetails.NameOfImplementingPartner </span>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-3" for="leadActivityMgr">Lead Activity Manager</label>
                                                <div>
                                                    <span id="leadActivityMgr">@(Model.projectDetails.LeadActivityManager!=null? Model.projectDetails.LeadActivityManager.FullName : "")</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3" for="AddressOfOrganization">Address of Organization</label>
                                                <div>
                                                    <span id="AddressOfOrganization">@Model.projectDetails.AddressOfOrganization</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3" for="MissionPartner">Mission Partner</label>
                                                <div>
                                                    <span id="MissionPartner">@Model.projectDetails.NameOfImplementingPartner</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3" for="ProjectStartDate">Project Start Date</label>
                                                <div>
                                                    <span id="ProjectStartDate">@Model.projectDetails.ProjectStartDate</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">Project End Date</label>
                                                <div>
                                                    <span id="ProjectEndDate">@Model.projectDetails.ProjectEndDate</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3" for="GrantReferenceNumber">Grant Reference Number</label>
                                                <div>
                                                    <span id="GrantReferenceNumber">@Model.projectDetails.GrantReferenceNumber</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end of project details section-->

                                <div class="panel panel-success" id="EthicsApproval">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Ethics Approval</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3" for="EthicalApprovalForTheProject">Ethical Approval For the Project</label>
                                                <div>
                                                    <span id="EthicalApprovalForTheProject">@Model.ethicsApproval.EthicalApprovalForTheProject</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3" for="TypeOfEthicalApproval">Type of Ethical Approval</label>
                                                <div>
                                                    <span id="TypeOfEthicalApproval">@Model.ethicsApproval.TypeOfEthicalApproval</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End of ethic approval section-->
                            </div>
                            </div>
                        <!-- end of Project profile page-->

                        
                        <div class="panel panel-success" id="DocumentRevisions">
                            <h4 class="Adjusted-header">
                                <b>Document Revisions</b>
                            </h4>
                            <div class="panel-body">


                                <div class="panel panel-success" id="Version">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Versions</h4>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-horizontal">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Version Author</th>
                                                            <th>Version Number</th>
                                                            <th>Version Date</th>
                                                            <th>Approval</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.documentRevisions)
                                                    {
                                                            <tr>
                                                                <td>@item.Version.VersionAuthor.DisplayName</td>
                                                                <td>@item.Version.VersionMetadata.VersionNumber</td>
                                                                <td>@item.Version.VersionMetadata.VersionDate</td>
                                                                <td>@item.Version.Approval.DisplayName</td>
                                                            </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of document revision page-->

                        
                        <div class="panel panel-success" id="Planning">
                            <h4 class="Adjusted-header">
                                <b>Planning</b>
                            </h4>
                            <div class="panel-body">
                                <div class="panel panel-success" id="Summary">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Summary</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <span id="ProjectSummary">@Model.summary.ProjectObjectives</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end of Summary section-->
                            </div>
                        </div>
                        <!-- end of Planning page-->

                        <div class="panel panel-success" id="DataCollectionProcesses">
                            <h4 class="Adjusted-header">
                                <b>Data Collection Processes</b>
                            </h4>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="padding-left: 30px;"> 
                                        <span id="DataCollectionProcessess">@Model.datacollectionProcesses.DataCollectionProcessess</span> <a class="btn btn-default commentBox"> comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Collection Processes page-->

                        
                        <div class="panel panel-success" id="DataCollection">
                            <h4 class="Adjusted-header">
                                <b>Data Collection</b>
                            </h4>
                            
                            <div class="panel-body">
                                <div class="panel panel-success" id="Data">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Data</h4>
                                        <div style="float: right;"><span id="Datacomment"></span><a class="btn btn-black btn-sm commentBox"> comment</a></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Data Type</th>
                                                            <th>Data Sources</th>
                                                            <th>Tools</th>
                                                            <th>Frequency</th>
                                                            <th>Duration</th>
                                                            <th>Timelines</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="datacollectiondataTable"> </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Collection page-->

                        
                        <div class="panel panel-success" id="MonitoringAndEvaluation">
                            <h4 class="Adjusted-header">
                                <b>Monitorig and Evaluation Systems</b>
                            </h4>
                            
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3" for="DataFlowChart">Data Flow Chart</label>
                                        <div>
                                            <img id="DataFlowChart">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Additional Information</label>
                                        <div>
                                            <span id="AdditionalInformation" style="padding-left: 30px;">@Model.AdditionalInformation</span>
                                            <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                    </div>
                                    <hr />
                                    @*<div class="panel panel-success" id="RolesAndResponsiblities">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Roles And Responsiblities</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                @foreach (var field in typeof(DAL.Entities.RolesAndResponsiblities).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                            {
                                                <div class="form-group">
                                                    <label class="col-sm-3">@DAL.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                                    <div>
                                                        <span id="@field.Name">@DAL.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.roleNresp))</span>
                                                        <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                            }
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--roles and responsibilty-->

                                    <div class="panel panel-success">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title">Trainings</h4>
                                            <div style="float: right;"><span id="Trainingscomment"></span><a class="btn btn-black btn-sm commentBox"> comment</a></div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Frequency</th>
                                                                <th>Duration</th>
                                                                <th>Timelines</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="trainingTable">
                                                        </tbody>
                                                    </table>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <!--Trainings-->
                                </div>
                            </div>
                        </div>
                        <!-- end of M&E page-->
                                            
                        <div class="panel panel-success" id="QualityAssurance">
                            <h4 class="Adjusted-header">
                                <b>Quality Assurance</b>
                            </h4>
                            <div class="panel-body">
                                <div class="panel panel-success" id="DataVerification">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Data Verification</h4>
                                        <div style="float: right;"><span id="DataVerificationscomment"></span><a class="btn btn-black btn-sm commentBox"> comment</a></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Verification Approach</th>
                                                            <th>Types</th>
                                                            <th>Frequency</th>
                                                            <th>Duration</th>
                                                            <th>Timelines</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dataVerificationTable"> </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End of Data verificaton section-->
                            </div>
                        </div>
                        <!-- end of Quality Assurance page-->

                        <div class="panel panel-success"  id="Reports">
                            <h4 class="Adjusted-header">
                                <b>Reports</b>
                            </h4>
                            <div class="panel-body">
                                <div class="panel panel-success" id="ReportData">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Data Report </h4>
                                        <div style="float: right;"><span id="Reportscomment"></span><a class="btn btn-black btn-sm commentBox"> comment</a></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Thematic Area</th>
                                                        <th>Frequency</th>
                                                        <th>Duration</th>
                                                        <th>Timelines</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reportdataTable"> </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <!--End of Report Data section -->
                            </div>
                        </div>


                        <div class="panel panel-success" id="DataStorage">
                            <h4 class="Adjusted-header">
                                <b>Data Storage</b>
                            </h4>
                            <div class="panel-body">
                                <div class="panel panel-success" id="Digital">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Digital</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            @foreach (var field in typeof(DAL.Entities.DigitalData).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                        {
                                                <div class="form-group">
                                                    <label class="col-sm-3">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                                    <div>
                                                        <span id="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.digital))</span>
                                                        <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                                <!--end of Digital data section-->

                                <div class="panel panel-success" id="NonDigital">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Non-Digital</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            @foreach (var field in typeof(DAL.Entities.NonDigitalData).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                        {
                                                <div class="form-group">
                                                    <label class="col-sm-3">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                                    <div>
                                                        <span id="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.nonDigital))</span>
                                                        <a class="btn btn-default commentBox"> comment</a>
                                                    </div>
                                                </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                                <!--end of non digital data section -->
                            </div>
                        </div>
                        <!-- end of Data Storage page-->


                        <div class="panel panel-success" id="IntellectualPropertyCopyrightAndOwnership">
                            <h4 class="Adjusted-header">
                                <b>Intellectual Property Copyright and Ownership</b>
                            </h4>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @foreach (var field in typeof(DAL.Entities.IntellectualPropertyCopyrightAndOwnership).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-4">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                            <div class="col-sm-8">
                                                <span id="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.intelProp))</span>
                                                <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- end of Intellectual Property Copyright And Ownership page-->


                        <div class="panel panel-success" id="DataAccessAndSharing">
                            <h4 class="Adjusted-header">
                                <b>Data Access and Sharing</b>
                            </h4>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @foreach (var field in typeof(DAL.Entities.DataAccessAndSharing).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-4">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                            <div class="col-sm-8">
                                                <span id="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.dataSharing))</span>
                                                <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Access and Sharing page-->


                        <div class="panel panel-success" id="DataDocumentationManagementAndEntry">
                            <h4 class="Adjusted-header">
                                <b>Data Documentation Management and Entry</b>
                            </h4>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @foreach (var field in typeof(DAL.Entities.DataDocumentationManagementAndEntry).GetProperties().Where(x => !Attribute.IsDefined(x, typeof(System.Xml.Serialization.XmlIgnoreAttribute))).ToArray())
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-4">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                            <div class="col-sm-8">
                                                <span id="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.GetValue(Model.dataDocMgt))</span>
                                                <a class="btn btn-default commentBox"> comment</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- end of Data Documentation Management and Entry page-->


                        <div class="panel panel-success" id="PostProjectDataRetentionSharingAndDestruction">
                            <h4 class="Adjusted-header">
                                <b>Post Project Data Retention Sharing and Destruction</b>
                            </h4>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3" for="DataToRetain">Data To Retain</label>
                                        <div class="col-sm-9">
                                            <span id="DataToRetain">@Model.ppData.DataToRetain</span> <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" for="PreExistingData">Pre-Existing Data</label>
                                        <div class="col-sm-9">
                                            <span id="PreExistingData">@Model.ppData.PreExistingData</span> <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" for="Duration">Duration</label>
                                        <div class="col-sm-9">
                                            <span id="Duration">@Model.ppData.Duration</span> <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3" for="Licensing">Licensing</label>
                                        <div class="col-sm-9">
                                            <span id="Licensing">@Model.ppData.Licensing</span> <a class="btn btn-default commentBox"> comment</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-success" id="DigitalDataRetention">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Digital Data Retention</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3" for="DataRetention">Data Retention</label>
                                                <div class="col-sm-9">
                                                    <span id="DataRetention">@Model.ppData.DigitalDataRetention.DataRetention</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end of digital data retention-->

                                <div class="panel panel-success" id="NonDigitalDataRetention">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Non Digital Data Retention</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3" for="nonDigitalDataRetention">Data Retention</label>
                                                <div class="col-sm-9">
                                                    <span id="nonDigitalDataRetention">@Model.ppData.NonDigitalRentention.DataRention</span> <a class="btn btn-default commentBox"> comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End of non digital data rentention-->
                            </div>
                        </div>
                        <!-- end of Post Project Data Retention Sharing and Destruction page-->
                        <a href="javascript:history.back()"><i class="icon-left-open"></i><b>Go Back</b></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">comments</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body" style="display: block;">
                    <div id="UlInModal">

                    </div>
                    <div class="form-group">
                        <input class="form-control" id="newCC" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <a id="addcomment" class="btn btn-default" style="float:right">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ApprovalModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please confirm action</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="referback" class="btn btn-default"><i class="icon-reply"></i>Refer back</button>
                <button id="approveConfirm" type="button" class="btn btn-success"><i class="icon-check"></i>Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ApprovalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="approvedmsg" class="modal-title"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitconfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please confirm action</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel</button>
                <button type="button" id="submitbtnModal" class="btn btn-success"><i class="icon-check"></i>Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $(document).ready(function () {

            base64Image = '@Model.DataFlowChart';
            if(base64Image !=undefined){
                BindPureBase64StringToControl($('#DataFlowChart'), base64Image)
            }

            $("#downloadbtn").click(function (e, n) {

                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/DownloadDocument?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (filename) {
                    window.location = '/Downloads/' + filename;
                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });

          var isIpUser =  '@HttpContext.Current.User.IsInRole("ip")' == 'True' ? true : false;

            if('@Model.status' != "PendingApproval" || isIpUser){
                $("#approvebtn").hide();
            }

            if('@Model.status' == "PendingApproval"){
                $("#submitbtn").hide();
            }


            $("#approvebtn").click(function (e, n) {
                $('#ApprovalModal1').modal('show');
            });


            $("#approveConfirm").click(function (e, n) {
                $('#ApprovalModal1').modal('hide');

                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/ApproveDocument?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (response) {
                    var $msg = $("<span><b>"+ response +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');

                    if(response == "Approved"){
                        $("#approvebtn").hide();
                    }

                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });

            $("#referback").click(function (e, n) {
                $('#ApprovalModal1').modal('hide');

                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/referback?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (response) {
                    var $msg = $("<span><b>"+ response +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');
                    $("#approvebtn").hide();

                }).error(function (xhr, status, err) {
                    var $msg = $("<span><b>"+ err +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');
                    console.log(err);
                });
                return false;
            });

            $("#submitbtn").click(function (e, n) {
                $('#submitconfirmModal').modal('show');
            });

            $("#submitbtnModal").click(function (e, n) {
                $("#submitconfirmModal").modal('hide');

                $.ajax({
                    type: "POST",
                    url: "/DocumentViewer/submit?documnentId=@Model.documentID",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                }).done(function (response) {
                    var $msg = $("<span><b>"+ response +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');
                    $("#submitbtn").hide();
                }).error(function (xhr, status, err) {
                    var $msg = $("<span><b>"+ err +"</b></span>");
                    $("#approvedmsg").append($msg);
                    $('#ApprovalMessage').modal('show');
                    console.log(err);
                });
                return false;
            });

            var clickedTag;
            var comments =@Html.Raw(Json.Encode(Model.Comments));

            //build the comments, auto retrieve from the DB based on the tag name
            $(".commentBox").click(function (e, n) {
                clickedTag = $(this).parent().children("span")[0].id;

                $("#UlInModal").html('');
                if(comments.length > 0){
                    var selectedComments = $.grep(comments, function(a){
                        return a.TagName === clickedTag;
                    });
                    $.each(selectedComments, function(index, value){
                        GnerateListElement(value);
                    })
                }
                $('#commentmodal').modal('show');
            });

            function GnerateListElement(acomments){
                var newElement = '<div class="form-group">'+
	                                '<span style="display: block;">'+acomments.Commenter+'</span>'+
                                    '<span style=" display: block;margin-left: 25px;">'+acomments.Message+' </span>'+
                                    '<span class="sub-text" style="float: right;">'+acomments.DateAdded+'</span>' +
                                '</div>'

                var $li = $(newElement); //$("<li>"+ content +"</li>");
                $("#UlInModal").append($li);
            }

            $("#addcomment").click(function (e, n) {
                var someUrl = '@Url.Action("AddComment", "DocumentViewer")';
                var data = JSON.stringify({ "TagName": clickedTag, "Message":$('#newCC').val()});
                $.ajax({
                    type: "POST",
                    url: someUrl,
                    contentType: "application/json; charset=utf-8",
                    data: data,
                    cache: false,
                }).done(function (response) {
                    if(response.Id != undefined){
                        comments.push(response);
                        GnerateListElement(response);
                        $('#newCC').val('')
                    }
                }).error(function (xhr, status, err) {
                    alert(err);
                    console.log(err);
                });
                return false;
            });

            '<div class="form-group">'+
             '<span style="display: block;">Email address</span>'+
             '<span style=" display: block;margin-left: 25px;">commment here </span>'+
              '<span class="sub-text" style="float: right;">on March 5th, 2014</span>' +
               '</div>'


        });
    </script>
<script src="~/Scripts/ReportTableLogic.js"></script>
<script src="~/Scripts/datacollectionTableLogic.js"></script>
<script src="~/Scripts/dataverificationTableLogic.js"></script>
<script src="~/Scripts/trainingreportTableLogic.js"></script>
}
