@model  DMP.ViewModel.ProfileViewModel
@{
    ViewBag.Title = "Create New IP";
}
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    @Styles.Render("~/bundles/mysiteCss")
    <style>
    </style>
}

<div class="main-content">
    <div class="row">
        <div class="col-lg-12">
            <form id="mainform" class="validate">
                <div class="panel panel-warning">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Create New Profile</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">

                            @foreach (var field in Model.FieldCollection)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="@field.Key.Replace(" ","")">@field.Key</label>
                                    <div class="col-sm-8">
                                        @if ((string)field.Value == "String")
                                        {
                                            <input type="text" placeholder="@field.Key" id="@field.Key.Replace(" ","")" required title="@field.Key is required" class="form-control">
                                        }
                                        else if ((string)field.Value == "OrganizationType")
                                        {
                                            <select id="@field.Key.Replace(" ","")" class="form-control" required>
                                                <option value="" disabled selected>select organization type</option>
                                                @*@foreach (var item in Model.OrganizationType)
                                                {
                                                    <option value="@item.Replace(" ","")">@item</option>
                                                }*@
                                            </select>
                                        }
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href='@Url.Action("index","Home")' class="btn btn-default">
                                        <i class="fa fa-close"></i> Cancel
                                    </a>
                                    &nbsp;&nbsp;
                                    <button type="submit" id="dmpSubmit" class="btn btn-warning">Save</button>
                                    <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $(document).ready(function () {
            $('#PhoneNumberOfAuthor,#PhonenumberofApprover').keypress(function (key) {
                if (key.charCode < 48 || key.charCode > 57)
                    if (key.charCode != 43) {
                        $('#my_modal').on('show.bs.modal', function (e) {
                            $('#warningbox').val('invalid input');
                        });
                        $('#myModal').modal('show');
                        return false;
                    }
            });

            $("input").attr("autocomplete", "off");

            $("#dmpSubmit").click(function (e, n) {

                var form = $(e.currentTarget.form);
                var validator = form.validate();
                if (form.valid()) {
                    var formdata = $('#mainform')[0].elements;
                    var viewModel = {};

                    $("#loadImg").show();
                    $('dmpSubmit').disabled = true;

                    $.each(formdata, function (name, formElements) {
                        viewModel[formElements.id] = formElements.value;
                    });

                    var someUrl = '@Url.Action("CreateNewProfile", "Profile")';
                    $.ajax({
                        type: "POST",
                        url: someUrl,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(viewModel),
                        cache: false,
                    }).done(function (dmpId) {
                        console.log(dmpId);
                        window.location.replace('@Url.Action("index", "Profile")');
                        $("#loadImg").hide();
                        $('dmpSubmit').disabled = false;
                    }).error(function (xhr, status, err) {
                        alert(err);
                        console.log(err);
                        $("#loadImg").hide();
                        $('dmpSubmit').disabled = false;
                    });

                    return false;
                }
            });

        });
    </script>
}