@model List<CommonUtil.Entities.Profile>
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
} 

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            User Profiles
            <div class="col-sm-push-9 col-sm-2">
                @if (System.Web.HttpContext.Current.User.IsInRole("sys_admin"))
                {
                    <a id="dmpCreate" href='@Url.Action("CreateProfile", "Profile")' class="btn btn-black btn-sm btn-outline">
                        <i class="icon-user-add"></i> Create New Profile
                    </a>
                            <img id="loadImg" style="display:none" class="center" src="~/images/ms-spinner.gif" width="36">
                }
            </div>

        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>email </th>
                            <th>IP </th>
                            <th>Role </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="window.document.location='/Profile/ProfileDetail?profileId=@item.Id'" style="cursor: pointer;">
                                <td>@item.Username</td>
                                <td>@item.FullName</td>
                                <td>@item.ContactEmailAddress</td>
                                <td>@item.Organization.ShortName</td>
                                <td>@item.RoleName.ToUpper()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
   @Scripts.Render("~/bundles/CreateDMPJs")
    <script>
        $("#dmpCreate").click(function (e, n) {
            $("#loadImg").show();
            $('#dmpCreate').disabled = true;
        });
        $('.table').DataTable({
            "iDisplayLength": 40
        });

    </script>
}

