@model  CommonUtil.Entities.Profile

@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    @Styles.Render("~/bundles/mysiteCss")
    <style>
    </style>
}

<div class="main-content">
   
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">

            <div class="panel panel-warning">
                <div class="panel-heading clearfix">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <h4 class="panel-title">Edit Profile Details</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <form id="mainform" class="validate">
                        <div class="form-horizontal">
                            @foreach (var field in typeof(CommonUtil.Entities.Profile).GetProperties())
                            {
                                if (field.Name == "Id" || field.Name == "Password"
                                || field.Name == "OrganizationId" || field.Name == "CreationDate"
                                || field.Name == "LastLoginDate"  || field.Name == "Status")
                                {
                                    continue;
                                }
                                if (field.Name == "Organization")
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                        <div class="col-sm-8">
                                            @if (HttpContext.Current.User.IsInRole("sys_admin"))
                                            {
                                                <select id="OrganizationId" class="form-control" required>
                                                    <option value="" disabled selected>select organization</option>
                                                    @foreach (CommonUtil.Entities.Organizations item in ViewBag.Organizations)
                                                    {
                                                        if (Model.Organization != null && Model.Organization.Id == item.Id)
                                                        {
                                                            <option value="@item.Id" selected>@item.ShortName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.ShortName</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="text" disabled value="@(Model.Organization !=null ? Model.Organization.ShortName : "")" title="required field" class="form-control">
                                            }
                                        </div>
                                    </div>
                                }
                                else if (field.Name == "Password" || field.Name == "OrganizationId")
                                {
                                    continue;
                                }
                                else if (field.Name == "Username")
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                        <div class="col-sm-8">
                                            <input type="text" disabled id="@field.Name" value="@field.GetValue(Model)" required title="required field" class="form-control">
                                        </div>
                                    </div>
                                }
                                else if (field.Name == "RoleName")
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="RoleName">Role Name</label>
                                        <div class="col-sm-8">
                                            @if (HttpContext.Current.User.IsInRole("sys_admin"))
                                            {
                                                <select id="RoleName" class="form-control" required>
                                                    <option value="" disabled selected>select Role</option>
                                                    @foreach (var item in ViewBag.Roles)
                                                    {
                                                        if (Model.RoleName == item.Name)
                                                        {
                                                            <option value="@item.Name" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Name">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="text" disabled id="@field.Name" value="@Model.RoleName" required title="required field" class="form-control">
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="@field.Name">@CommonUtil.Utilities.Utilities.PasCaseConversion(field.Name)</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="@field.Name" value="@field.GetValue(Model)" required title="required field" class="form-control">
                                        </div>
                                    </div>
                                }

                            }
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-8">
                                    <a href='@Url.Action("index","Profile")' class="btn btn-default">
                                        <i class="fa fa-close"></i> Cancel
                                    </a>
                                    &nbsp;&nbsp;
                                    <button type="submit" id="dmpSubmit" class="btn btn-warning">Update</button>
                                    <img id="loadImg" style="display:none" class="center" src="~/images/spinner.gif" width="36">
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{ 
    @Scripts.Render("~/bundles/CreateDMPJs")
    <script>

    $("#dmpSubmit").click(function (e, n) {

        e.preventDefault();

            var formdata = $('#mainform')[0].elements;
            var viewModel = {};

            $("#loadImg").show();
            $('dmpSubmit').disabled = true;

            $.each(formdata, function (name, formElements) {
                viewModel[formElements.id] = formElements.value;
            });
            //viewModel["Id"] = "guid=@Model.Id";
        viewModel["CreationDate"] = '@Model.CreationDate';
        viewModel["LastLoginDate"] = '@Model.LastLoginDate';
        viewModel["Status"] = '@Model.Status';

        var someUrl = '/Profile/EditProfile?profileId=@Model.Id';
            $.ajax({
                type: "POST",
                url: someUrl,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(viewModel),
                cache: false,
            }).done(function (dmpId) {
                console.log(dmpId);
                window.location.replace('@Url.Action("index", "Profile")');
                $("#loadImg").hide();
                $('dmpSubmit').disabled = false;
            }).error(function (xhr, status, err) {
                alert(err);
                console.log(err);
                $("#loadImg").hide();
                $('dmpSubmit').disabled = false;
            });

            return false;
    });
    </script>
}