
@{
    ViewBag.Title = "IpDQA";
}

@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    <style>
        .panel-warning {
            border-color: #929b17;
        }

        .panel-warning > .panel-heading {
            color: #FFF;
            background-color: #929b17;
            border-color: #929b17;
        }

        .table > thead > tr > th {
             font-weight:bold
        }
       
        .abbrev-full{
            background-color:lightblue
        }
    </style>
}

<div class="main-content">

    <div class="row">
       
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix" style="padding:15px">
                    <h4 class="panel-title">@ViewBag.Ip_name DQA LIST</h4>
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-horizontal" method="post" >

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Enter site name</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="site_name" name="site_name"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Select Period</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="period" id="period">
                                                <option>Select period</option>
                                                <option value="1">October - December</option>
                                                <option value="2">January - March</option>
                                                <option value="3">April - June</option>
                                                <option value="4">July - September</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Select State</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("states", null, "Select State...", new { @class = "form-control", id = "states", onclick = "getLGAs()" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Select LGA</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="lga" id="lga">
                                                <option>Select LGA</option>

                                            </select>

                                        </div>
                                    </div>
                                </div>
                                
                              <div class="col-lg-6 pull-right">
                                  <div class="form-group">
                                      <div class="col-sm-offset-4 col-sm-8">
                                          <button class="btn btn-default pull-right" id="btnSubmit" onclick="searchIPDQA(@ViewBag.ip_id)">Search</button>
                                      </div>
                                  </div>
                              </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix" style="padding:15px">
                                    <h4 class="panel-title">DQA Summary Result</h4>

                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <tr>
                                            <td><strong>LEGEND : </strong></td>
                                            <td class="abbrev">COM</td>
                                            <td class="abbrev-full">COMPLETENESS</td>
                                            <td class="abbrev">CON</td>
                                            <td class="abbrev-full">CONSISTENCY</td>
                                            <td class="abbrev">PRE</td>
                                            <td class="abbrev-full">PRECISION</td>
                                            <td class="abbrev">INT</td>
                                            <td class="abbrev-full">INTEGRITY</td>
                                            <td class="abbrev">VAL</td>
                                            <td class="abbrev-full">VALIDITY</td>


                                        </tr>
                                    </table>
                                    <div id="divTable" class="table-responsive"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix" style="padding:15px">
                                    <h4 class="panel-title"> DQA LIST</h4>

                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover" id="output">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Site</th>
                                                    <th>Lga</th>
                                                    <th>State</th>

                                                    <th>FiscalYear</th>

                                                    <th>UploadDate</th>
                                                    <th>Quarer</th>
                                                   <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    </div>
</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        
    </div>

</div>



@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/loader")
    <script src="~/Scripts/fns/base.js" type="text/javascript"></script>
    <script src="~/Scripts/fns/fn_dqa.js" type="text/javascript"></script>
<script src="~/Scripts/jsonTable.js"></script>

    <script>
       

        $(document).ready(function () {
            //getIPDQA(@ViewBag.ip_id);
            getIPDQASummaryAdmin(@ViewBag.ip_id);
           
        });
    </script>
}
