@{
    Layout = "~/Views/Shared/_genLayout.cshtml";
}
@section AddToHead{
    <style>
        .custom-heading-div {
            color: #fff;
            font-size: 24px;
        }

        .accordion-group {
            border: 0px solid #fff;
            margin-bottom: 25px;
        }

        .btn-default.btn-outline {
            color: darkorange;
            background-color: transparent;
            border-color: darkorange;
        }

            .btn-default.btn-outline:hover {
                color: white;
                /*background-color: darkorange;*/
                border-color: darkorange;
            }

        .pnl-height {
            height: 400px;
        }

        .dropdown-item {
            padding-left: 20%;
            text-decoration: underline;
        }

        .dropdown {
            margin-right: 15px;
        }
    </style>
}
<div class="main-content" style="padding-top: 0px;">

    <div class="row" id="breadcrumb">
        <div class="col-sm-5 col-sm-push-1">
            <ol class="breadcrumb breadcrumb-2">
                <li><a href="/"><i class="icon-folder"></i>Home</a></li>
                <li class="active">@ViewBag.breadcrumb</li>
            </ol>
        </div>
    </div>

    <div id="dmp" style="display:none">

        <div class="row">
            <div class="col-lg-4">
                <div class="panel minimal" style="background-color: #ec407a;border-color:#ec407a">
                    <div class="panel-body" style="margin-top: -15px;">
                        <a href="@Url.Action("index", "DMP" )">
                            <table>
                                <tr>
                                    <td><i class="fa fa-file-text fa-2x" style="color: #fff;"></i> </td>
                                    <td style="padding-left: 25px;"><strong class="custom-heading-div">Data Management Plan</strong></td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel minimal" style="background-color:darkcyan; border-color:darkcyan">
                    <div class="panel-body" style="margin-top: -15px;">
                        <a href="#">
                            <table>
                                <tr>
                                    <td><i class="fa fa-clock-o fa-2x" style="color: #fff;"></i></td>
                                    <td style="padding-left: 25px;">
                                        <strong class="custom-heading-div">Data Quality Assessment</strong>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel minimal" style="background-color:steelblue;border-color:steelblue">
                    <div class="panel-body" style="margin-top: -15px;">
                        <a href="#/">
                            <table>
                                <tr>
                                    <td><i class="fa fa-history fa-2x" style="color: #fff;"></i> </td>
                                    <td style="padding-left: 25px;"><strong class="custom-heading-div">Data Quality Improvement</strong> </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-info pnl-height" style="border-color:#ec407a;">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <ul class="list-item todo-list">
                                <li>
                                    <a href="@Url.Action("index", "DMP" )" class="btn btn-sm btn-default btn-outline" style="color:#ec407a;text-transform: capitalize">Go to Data Management Plan</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-12">
                            <hr />
                            <h5 style="font-weight: bold">Program Overview</h5>
                            <p>
                                In line with CDC’s Overview of institutionalizing a sustainable M&E system for Nigeria and developing a robust Data Management Plan for all its implementing mechanisms, the Data Management Summary (DMS) document has been developed.
                                This document aims to harmonize all information collated from CDC-funded partners on their Data Management Processes.
                            </p>
                            <p> In so doing, the CDC Data Management Summary will be a standardized document where detailed information pertaining to organizational Data Management is archived, to be referenced by CDC-funded implementing partners and relevant stakeholders.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success pnl-height">
                    <!-- panel body -->
                    <div class="panel-body">

                        <div class="col-sm-12">
                            <div class="dropdown col-sm-2">
                                <button class="btn btn-sm btn-success btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    FY 2018
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/DQAFY2018Q3/index">Q3 DQA</a><br />
                                    <a class="dropdown-item" href="/DQAFY2018Q2/index">Q2 DQA</a><br />
                                    <a class="dropdown-item" href="/DQAFY2018Q1/index">Q1 DQA</a>
                                </div>
                            </div> &nbsp;&nbsp;
                            <div class="dropdown col-sm-2">
                                <button class="btn btn-sm btn-success btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    FY 2017
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/DQAFY2017Q4/index">Q4 DQA</a><br />
                                    <a class="dropdown-item" href="/DQAFY2017Q2/index">Q3 DQA</a><br />
                                    <a class="dropdown-item" href="/DQAFY2017Q2/index">Q2 DQA</a><br />
                                    <a class="dropdown-item" href="/DQA/index">Q1 DQA</a><br />
                                </div>
                            </div> &nbsp;&nbsp;
                            @if (User.IsInRole("shield_team") || (User.IsInRole("sys_admin")))
                            {
                                <div class="dropdown col-sm-2">
                                    <button class="btn btn-sm btn-success btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                        FY2016
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/DQAFY2016/homepage">DQA</a><br />
                                    </div>
                                </div><br /><br />
                            }
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px;">
                            <hr />
                            <h5 style="font-weight: bold">Program Overview</h5>
                            <p>
                                The ability to collect and report high quality data is the cornerstone of a data-driven approach for HIV program delivery. Data quality assessment gives us the true reflection of how efficient HIV program is and how close health outcomes have been achieved. As part of PEPFAR’s Accountability frame work, routine data quality assessments are required as a means of validating reported achievements.
                            </p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-warning pnl-height">
                    <!-- panel body -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="dropdown col-sm-2">
                                <button class="btn btn-sm btn-info btn-outline dropdown-toggle" type="button" data-toggle="dropdown" style="border-color:darkcyan">
                                    FY2018
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/DQIFY2018Q3/DownloadDQITool">Q3 DQI</a><br />
                                    <a class="dropdown-item" href="/DQIFY2018Q2/DownloadDQITool">Q2 DQI</a><br />
                                    <a class="dropdown-item" href="/DQIFY2018Q1/DownloadDQITool">Q1 DQI</a><br />
                                </div>
                            </div>
                        </div>
                          
                        <hr />
                        <h5 style="font-weight: bold">Program Overview</h5>
                        <p>
                            The Data Quality improvement strategy combines best practices in quality improvement to guide the implementation and monitoring of sustainable solutions to identified data quality issues. Through these efforts, methods and strategies through which data quality and reporting can be significantly improved across CDC implementing partners and facilities will be established and routinized
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div style="visibility:@(User.IsInRole("sys_admin") || User.IsInRole("shield_team") ? "visible" : "hidden" )">
                <div class="col-sm-4">
                    <div class="panel minimal info-bg" style="background-color: darkorange;border-color:darkorange">
                        <div class="panel-body" style="margin-top: -15px;">
                            <table>
                                <tr>
                                    <td><i class="fa fa-file-text fa-2x" style="color: #fff;"></i> </td>
                                    <td style="padding-left: 25px;"><strong class="custom-heading-div">HTS Assessment</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel minimal teal-bg" style="background-color:#029b17; border-color:#029b17">
                    <div class="panel-body" style="margin-top: -15px;">
                        <table>
                            <tr>
                                <td><i class="fa fa-clock-o fa-2x" style="color: #fff;"></i></td>
                                <td style="padding-left: 25px;"> <strong class="custom-heading-div">RADET Report</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="visibility:@(User.IsInRole("sys_admin") || User.IsInRole("shield_team") ? "visible" : "hidden" )">
                <div class="panel minimal teal-bg" style="background-color:deepskyblue; border-color:deepskyblue">
                    <div class="panel-body" style="margin-top: -15px;">
                        <table>
                            <tr>
                                <td><i class="fa fa-clock-o fa-2x" style="color: #fff;"></i></td>
                                <td style="padding-left: 25px;"> <strong class="custom-heading-div">SIMS</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div style="visibility:@(User.IsInRole("sys_admin") || User.IsInRole("shield_team") ? "visible" : "hidden" )">
                <div class="col-sm-4">
                    <div class="panel panel-info pnl-height" style="border-color:darkorange">
                        <div class="panel-body">
                            <hr />
                            <h5 style="font-weight: bold">Overview</h5>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-success pnl-height">
                    <div class="panel-body">
                        <ul class="list-item todo-list">
                            <li>
                                <a href="@Url.Action("RADETScoreCard","RadetAnalytics")" class="btn btn-sm btn-success btn-outline" style="text-transform: capitalize">Go to RADET Report</a>
                            </li>
                        </ul>
                        <hr />
                        <h5 style="font-weight: bold">Overview</h5>
                        <p>Retention and Audit Determination Tool (RADET)</p>
                        <p>
                            The PEPFAR Nigeria SI TWG commenced current on treatment audit using the RADET in October 2014.
                            Aim was to determine the accurate total number of patients currently on treatment (as at September 30th 2014).
                            The process required the implementing partners to submit a line list of all clients enrolled on ART since the beginning of the PEPFAR program
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="visibility:@(User.IsInRole("sys_admin") || User.IsInRole("shield_team") ? "visible" : "hidden" )">
                <div class="panel panel-default pnl-height" style="border-color:deepskyblue">
                    <div class="panel-body">
                        <ul class="list-item todo-list">
                            <li>
                                <a class="btn btn-sm btn-default btn-outline disabled" style="text-transform: capitalize;color:deepskyblue;border-color:deepskyblue">Go to SIMS</a>
                            </li>
                        </ul>
                        <hr />
                        <h5 style="font-weight: bold">Overview</h5>
                        <p>Site Monitoring Systems (SIMS)</p>
                        <p>
                            SIMS is PEPFAR/CDC Site Monitoring System with a goal of standardizing clinical site quality monitoring by PEPFAR/CDC in-country staff through assessment and scoring of site performance on key program area elements.
                            SIMS is a comprehensive yet rapid assessment that focus on issues that directly impact service quality
                        </p>
                        <a style="text-decoration:underline; color:blue" href="https://data.pepfar.net/reference/Global_SMS_summary_and_21_countries_Nov_2014_v5.21.pdf" target="_blank">Global SIMS summary in 21 countries (Nov 2014)</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="outcome" style="display:none">
        <div class="row">
            <div class="col-sm-1"> </div>

            <div class="col-sm-5">
                <div class="panel minimal info-bg" style="background-color: darkorange;border-color:darkorange">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td><i class="fa fa-file-text fa-2x" style="color: #fff;"></i> </td>
                                <td style="padding-left: 25px;"><strong class="custom-heading-div">Test & Start / Community ART</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel minimal teal-bg" style="background-color:#029b17; border-color:#029b17">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td><i class="fa fa-clock-o fa-2x" style="color: #fff;"></i></td>
                                <td style="padding-left: 25px;"> <strong class="custom-heading-div">Repeat Testing / Index Partner Testing</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-1"> </div>
            <div class="col-sm-5">
                <div class="panel panel-info pnl-height" style="border-color:darkorange">
                    <div class="panel-heading clearfix" style="background-color: darkorange;border-color:darkorange">
                        <h4 class="panel-title">Info Panel</h4>
                    </div>
                    <!-- panel body -->
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-success pnl-height">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Info Panel</h4>
                    </div>
                    <!-- panel body -->
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hiv_aid" style="display:none">
        <div class="row">
            <div class="col-lg-1"> </div>

            <div class="col-md-7">
                <div class="panel panel-info" style="border-color:darkorange">
                    <div class="panel-heading clearfix" style="background-color: darkorange;border-color:darkorange">
                        <h4 class="panel-title">HIV/AIDS Monitoring and Evaluation</h4>
                    </div>
                    <!-- panel body -->
                    <div class="panel-body">
                        <ul class="list-item todo-list">
                            <li>
                                <a class="btn btn-sm btn-default btn-outline" style="text-transform: capitalize">Go to HIV/AIDS Monitoring and Evaluation</a>
                            </li>
                        </ul>
                        <hr />
                        <h5 style="font-weight: bold">Program Overview</h5>
                        <p>The HIV/AIDS program evaluation Protocol is a strategic document which will monitor and evaluate the HIV/AIDS programs in Nigeria, as well as outline how the program evaluation results and findings will be used for the programs improvement and to inform policy decision making. It will be used to ascertain if the HIV/AIDS Nigeria Program is helping the country reach a sustainable national HIV/AIDS program model. The plan will be instrumental in identifying the key factors contributing to or impeding program results, and also allow for program adjustment recommendations. The evaluation process will aid all stakeholders in gaining insight, ensuring best practices, assessing effects and informing relevant decisions. With consideration of the 90-90-90 goal, evaluation is necessary for all HIV/AIDS programs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="smr" style="display:none">
        <div class="row">
            <div class="col-lg-1"> </div>

            <div class="col-sm-5">
                <div class="panel panel-info" style="border-color:coral">
                    <div class="panel-heading clearfix" style="background-color: coral;border-color:coral">
                        <h4 class="panel-title">Semi Monthly Reporting</h4>
                    </div>

                    <div class="panel-body">
                        <ul class="list-item todo-list">
                            <li>
                                <a href="@Url.Action("Dashboard", "BiWeeklyReport" )" class="btn btn-sm btn-default btn-outline" style="text-transform: capitalize; color:coral; border-color:coral">Go to Semi Monthly Report</a>
                            </li>
                        </ul>
                        <hr />
                        <h5 style="font-weight: bold">Overview</h5>
                        <p>PEPFAR Nigeria Semi-Monthly Implementing Partner Performance Monitoring is targeted at to monitoring performance and intervening in a timely manner so that any deviant trend observed could be reversed on time based on PEPFAR’s planned pivot by doing more in scale-up LGAs and maintaining services in sustained LGAs. Data is reported at LGA for both community and facility and measured against an assigned targets.</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-info" style="border-color:darkturquoise">
                    <div class="panel-heading clearfix" style="background-color: darkturquoise;border-color:darkturquoise">
                        <h4 class="panel-title">Monthly Performance Monitoring  Reporting</h4>
                    </div>

                    <div class="panel-body">
                        <ul class="list-item todo-list">
                            <li>
                                <a href="@Url.Action("index", "MPM" )" class="btn btn-sm btn-default btn-outline" style="text-transform: capitalize; color:darkturquoise; border-color:darkturquoise">Go to Monthly Performance Monitoring</a>
                            </li>
                        </ul>
                        <hr />
                        <h5 style="font-weight: bold">Overview</h5>
                        <p>
                            CDC Nigeria applies enhanced monitoring approach to support its implementing partners for improved understanding and monitoring of the PEPFAR program being implemented. With enhanced monitoring, CDC Nigeria worked with its implementing partners on the additional and custom indicators to be reported more frequently than quarterly for improved monitoring impact. These indicators have been developed into the Monthly Performance Monitoring (MPM) template. The template incorporates the data entry page for indicators by health facilities and across program areas with an interactive dashboard. The MPM will be submitted on the 15th day of the following month
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="admin" style="display:none">
        <div class="row">
            <div class="col-sm-1"> </div>

            <div class="col-sm-5">
                <div class="panel panel-default" style="border-color:#ec407a">
                    <div class="panel-heading clearfix" style="background-color: #ec407a;border-color:#ec407a; color:#fff">
                        <h4 class="panel-title">Admin page</h4>
                    </div>
                    <!-- panel body -->
                    <div class="panel-body">
                        <ul class="list-item mailbox-list">
                            <li>
                                <a href=@Url.Action("index", "Organization" ) style="text-transform: capitalize;color: #ec407a">
                                    <i class="fa fa-bank"></i><span class="title">&nbsp; &nbsp;View List of Implementing Partners</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("index", "HealthFacility" ) style="text-transform: capitalize;color: #ec407a">
                                    <i class="fa fa-h-square"></i><span class="title">&nbsp; &nbsp;View List of Health Facilities</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("ManageYearlyPerformanceTarget", "BiWeeklyReport" ) style="text-transform: capitalize;color: #ec407a">
                                    <i class="fa fa-hourglass-end"></i><span class="title">&nbsp; &nbsp;View Facility Perfomance Target</span>
                                </a>
                            </li>
                            @if (HttpContext.Current.User.IsInRole("sys_admin"))
                            {
                                <li>
                                    <a href=@Url.Action("index", "Profile" ) style="text-transform: capitalize;color: #ec407a">
                                        <i class="fa fa-users">
                                        </i><span class="title">&nbsp; &nbsp;Manage User Profiles</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-sm-1"> </div>
            <div class="col-sm-3">
                <div class="panel minimal secondary-bg">
                    <div class="panel-body" style="padding-left: 15%;">
                        <h1>
                            <strong style="padding-left: 25%;">@MvcApplication.Sessions.Values.Count()</strong>
                        </h1>
                        <p>Active Users within the last 1 hour</p>
                        <hr />
                        @foreach (var item in MvcApplication.Sessions.Values)
                        {
                            @item <br />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/plugins/metismenu/js/jquery.metisMenu.js"></script>
    <script src="~/Scripts/loader.js"></script>
    @Scripts.Render("~/bundles/CreateDMPJs")

    <script>
    $(document).ready(function () {

        /**/
        /**/
        var container = @ViewBag.Container;
    /**/
    /**/
    $(container).css('display', 'block');

    $('html, body').animate({
        scrollTop: $("#breadcrumb").offset().top
    }, 1000);

    $("#userdetail").click(function (e) {
        /**/
        /**/
        window.document.location = '/Profile/ProfileDetail?profileId=@ShieldPortal.Services.Utils.LoggedinProfileID'; //profile.Id;
    /**/
    /**/
});

$('#changepassword').click(function () {
    window.document.location = '/Account/ResetPassword';
});

        $("#logoff").click(function (e, n) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LogOff", "Account")',
                contentType: "application/json; charset=utf-8",
                cache: false,
            }).done(function (dmpId) {
                window.location.replace('@Url.Action("index", "Home")');
            }).error(function (xhr, status, err) {
                alert(err);
                console.log(err);
            });
            return false;
        });

});
    </script>
}
